@import "../../sass/base";

.parallax-scroll {
  min-height: 720px;
  backface-visibility: hidden;
  clip-path: inset(0 0 0 0);
  position: relative;
  background-color: $wa-navy;

  &__copy {
    background-color: $wa-navy;
    opacity: 0.9;
    color: $wa-white;
    max-width: 660px;
    padding: $wa-spacing-06 $wa-spacing-05;
    z-index: 1;
    position: relative;
    @include desktop {
      padding: $wa-spacing-06;
    }

    [data-component-id="wateraid:rich_text"] {
      color: $wa-white;
      background-color: unset;
      margin: 0;
    }

    h1, h2, h3, ul li::marker {
      color: $wa-white;
    }

    blockquote:before {
      background-image: url("/themes/custom/wateraid/images/icons/wa-icon-quote-mark-white.svg");
    }
  }

  &__image.active {
    .paragraph--type--scroll-image {
      opacity: 1;
    }
  }

  &__images {
    position: sticky;
    top: 0;
    z-index: 2;
    background: $wa-navy;
    @include desktop {
      position: unset;
    }
  }

  &__image .paragraph--type--scroll-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: -32px;
    @include desktop {
      position: unset;
      top: unset;
    }
  }


  @include desktop {
    &__background .parallax-scroll__image .paragraph--type--scroll-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &--background {
    .parallax-scroll__image:first-of-type {
      opacity: 1;
    }

    .image {
      @include desktop {
        margin-top: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      display: block;
      @include desktop {
        position: fixed;
        top: 0;
        right: 0;
        -o-object-position: center;
        object-position: center;
        object-fit: cover;
        z-index: 0;
      }
    }

    .image__wrapper {
      position: unset;
      width: 100%;
    }

    .image__button {
      @include desktop {
        position: sticky;
        top: calc(100vh - 32px);
        left: unset;
        width: 100%;
        padding-right: $wa-spacing-03;
        padding-bottom: $wa-spacing-03;
        justify-items: flex-end;
      }
    }

    .image__caption {
      @include desktop {
        position: fixed;
        top: calc(100% - 80px);
        right: 24px;
      }
    }

    .image__content {
      @include desktop {
        position: absolute;
        width: 100%;
      }
    }

    .parallax-scroll__copy {
      height: 100%;
      margin-left: 0;
      padding: $wa-spacing-06 $wa-spacing-05;
      top: -1px;
      @include desktop {
        margin-left: $wa-spacing-09;
        padding: $wa-spacing-09;
      }
    }

    &.active {
      .parallax-scroll__background {
        opacity: 1;
      }
    }
  }

  &--two-column {
    .parallax-scroll__container {
      max-width: 1440px;
      margin: 0 auto;

      @include tablet {
        padding-left: $wa-spacing-05;
        padding-right: $wa-spacing-05;
      }
      @include desktop {
        display: flex;
        padding-left: $wa-spacing-09;
        padding-right: $wa-spacing-09;
      }
    }

    @include desktop {
      .parallax-scroll__copy {
        width: 660px;
        max-width: 60%;
      }
      .parallax-scroll__image {
        position: absolute;
        max-width: 40%;
        top: 0;
        right: $wa-spacing-08;
      }

      .paragraph--type--scroll-image {
        position: sticky;
        margin-bottom: $wa-spacing-08;
        top: $wa-spacing-08;
      }
    }
  }
}


