{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] | sort | join(' ') | trim %}

{% block paragraph %}
  <div class="{{ classes }}">
    <div{{ attributes }}>
      {{ include('wateraid:rich_text', {
        text: content.field_rich_text,
        full_width: paragraph.field_full_width.value
      }) }}
    </div>
  </div>
{% endblock paragraph %}
