{% if not paragraph.field_link.isEmpty() %}
  {% set link = {
    url: paragraph.field_link.0.url,
    title: paragraph.field_link.0.title,
  } %}
{% endif %}

{% if paragraph.field_media.entity %}
  {% set media_type = paragraph.field_media.entity.bundle() %}
{% endif %}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] | sort | join(' ') | trim %}

{% block paragraph %}
  <div class="{{ classes }}">
    <div{{ attributes }}>
      {{ include('wateraid:text_media', {
        text: content.field_rich_text,
        media: content.field_media,
        thumbnail: content.field_image,
        caption: content.field_caption,
        caption_display: paragraph.field_caption_display.0.value,
        credit: content.field_credit,
        alignment: paragraph.field_image_position.0.value,
        link: link,
        media_type: media_type,
      }, with_context = false) }}
    </div>
  </div>
{% endblock paragraph %}
