@import "../../sass/base";

.donation-banner {
  display: flex;
  justify-content: center;

  @include desktop {
    justify-content: flex-end;
  }

  .container {
    background-color: $wa-lime;
    display: flex;
    gap: $wa-spacing-06;
    align-items: center;
    flex: 100% 0 0;
    flex-wrap: wrap;
    padding: $wa-spacing-02 $wa-spacing-04;

    &.container-closed {
      background-color: transparent;
    }

    @include desktop {
      flex-wrap: nowrap;
      flex: 50% 0 0;
    }

    > * {
      flex: 100% 0 0;

      @include desktop {
        flex: auto 0 0;
      }
    }

    .donation__toggle {
      background-color: $wa-white;
      border-radius: 50%;
      padding: $wa-spacing-01;
      max-width: 35px;
      max-height: 35px;

      position: absolute;
      top: -17px;
      right: 10px;
      z-index: 10;

      @include desktop {
        order: 3;
        position: unset;
      }

      svg {
        color: $wa-blue;
        transform: rotate(0deg);
        transition: transform 0.2s;
      }

      &[aria-expanded="true"] {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .donation__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      flex-wrap: wrap;

      @include desktop {
        flex-wrap: nowrap;
        gap: 24px;
      }

      > * {
        flex: 100% 0 0;

        @include desktop {
          flex: auto 0 0;
          flex-wrap: nowrap;
        }
      }

      &[aria-hidden="false"] {
        max-height: 250px;

        @include desktop {
          max-height: 87px;
        }
      }

      .button--donate {
        margin-left: auto;
        margin-right: auto;
      }

      p {
        text-align: center;

        @include desktop {
          text-align: left;
        }
      }
    }
  }
}
