@import "./sass/styles";

.hero {
  &[data-component-id="wateraid:hero"] {
    margin-bottom: $wa-spacing-13;
  }

  &__image {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &__video {
    width: 100%;
    position: relative;

    video {
      width: 100%;
      height: 100%;
    }

    &--play,
    &--pause {
      position: absolute;
      bottom: $wa-spacing-04;
      right: $wa-spacing-03;
      z-index: 1;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    padding: $wa-spacing-07 $wa-spacing-05 $wa-spacing-01 $wa-spacing-05;
    display: flex;
    gap: $wa-spacing-06;
    flex-direction: column;

    @include desktop {
      padding: $wa-spacing-09 $wa-spacing-09 $wa-spacing-01 $wa-spacing-09;
    }

    &--title {
      margin: 0;
      color: $wa-white;
    }

    &--standfirst {
      @include paragraph-lg;
      p {
        margin: 0;
      }
    }

    &--ctas {
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: $wa-spacing-06;

      @include desktop {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &--basic {
    .cta__content {
      padding: $wa-spacing-07 $wa-spacing-05;

      @include desktop {
        padding: $wa-spacing-09;
      }
    }
  }

  &--blue {
    background-color: $wa-blue;

    .hero__content {
      color: $wa-white;
      margin-bottom: $wa-spacing-09;

      @include desktop {
        margin-bottom: $wa-spacing-10;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("/themes/custom/wateraid/images/icons/wa-edge-bottom-1-blue.svg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        left: 0;
        height: $wa-spacing-09;
        bottom: -$wa-spacing-09;

        @include desktop {
          height: $wa-spacing-10;
          bottom: -$wa-spacing-10;
        }
      }
    }

    .hero__content--link a {
      color: $wa-white;
    }
  }

  &--white {
    background-color: $wa-white;

    .hero__content--title,
    .hero__content--link a {
      color: $wa-blue;
    }
  }
}
