@font-face {
  font-family: 'RB Nylo Black';
  src: url('/themes/custom/wateraid/fonts/RBNylo-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/themes/custom/wateraid/fonts/NotoSans.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Bold';
  src: url('/themes/custom/wateraid/fonts/NotoSans.woff2') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
