button.apple-pay-button,
input[type="submit"].apple-pay-button {
  display: none;
  background: -webkit-named-image(apple-pay-logo-white) black no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}
