@import "./sass/styles";

[data-component-id="wateraid:rich_text"] {
  color: $wa-navy;

  a {
    @include link();
  }

  ol, ul {
    @include paragraph-md();
    padding-left: $wa-spacing-07;
  }

  ul {
    li::marker{
      color: $wa-blue;
    }
  }

  li {
    margin-bottom: $wa-spacing-05;
  }
}
