<div class="cancel-anytime">
  <span class="cancel-anytime__icon">{{ include('@wateraid/images/icons/direct-debit.svg') }}</span>
  <h3 class="cancel-anytime__title">{{ title }}</h3>
  <div class="cancel-anytime__copy">{{ copy }}</div>
</div>


