@import "../../sass/base";

.link {
  @include link();

  &.link--footer {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--text {
    @include text-link();

    display: flex;
    gap: $wa-spacing-01;
    align-items: center;
    width: fit-content;
  }
}
