@import "../../../sass/base";

.modal {
  display: none;

  &--open {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    z-index: 20;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    max-width: calculate-rem(1113);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.25rem;
  }

  &__container {
    position: relative;
    display: flex;
    gap: $wa-spacing-06;
    flex-direction: column;
    background-color: $wa-blue;
    padding: calculate-rem(44) $wa-spacing-06;
    grid-row: 1;
  }

  &__close {
    position: absolute;
    right: $wa-spacing-03;
    top: $wa-spacing-03;
  }

  &__title {
    color: $wa-white;
    margin: 0;
  }

  &--open {
    position: fixed;
    overflow: hidden;
  }

  &--instance-donate-exit-journey {
    .modal__actions {
      margin-top: $wa-spacing-05;
      display: flex;
      flex-direction: column;
      gap: $wa-spacing-05;
      justify-content: center;

      @include tablet {
        flex-direction: row;
      }

      .button__wrapper--secondary {
        a {
          color: $wa-blue;
        }
      }

    }
  }

}


