.image-crop-container {
  max-height: 480px;
  margin-bottom: 8px;
}

.image-crop-modal-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.image-crop-modal {
  width: 100%;
  max-width: 800px;
  margin: 60px auto;
  background-color: white;
  border-radius: 8px;
  padding: 12px 30px;
}

.image-crop-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  padding-bottom: 8px;
}

h2.image-crop-modal__title.ui-dialog-title {
  color: black;
}

.image-crop-modal__close {
  background-color: unset;
  border: none;
  font-size: 24px;
  height: 32px;
  width: 32px;
}

.image-crop-modal__close:hover {
  cursor: pointer;
  color: #868686;
}

.image-crop-modal__close:focus {
  cursor: pointer;
  color: #3b3b3b;
}
