<section class="section section--two-column" id="{{ id }}">
  <div class="section__container page-container">
  <div class="section__copy">
    {{ include('wateraid:rich_text', {
      text: copy
    }) }}
  </div>
  <div class="section__image">
    {{ include('wateraid:image', {
      image: image,
      caption: caption,
      credit: credit,
      width: 'full',
      caption_display: 'expandable'
    }) }}
  </div>
  </div>
</section>
