$white: #ffffff;
$black: #000000;
$brand-teal: #43CFB5;

// Primary
$wa-navy: #151435;
$wa-blue: #006BD9;
$wa-cream: #F8F0E4;
$wa-white: #ffffff;

// Accent
$wa-lime: #D6FF00;

// Support
$wa-light-green: #00CD46;
$wa-dark-green: #206629;
$wa-pink: #FF96E6;
$wa-plum: #730E49;
$wa-yellow: #FFC809;
$wa-orange: #D14200;

// Utility
$wa-navy-80: #44435D;
$wa-navy-10: #E8E8EB;
