@use "./breakpoints";
@use "./colors";
@use "./spacing";
@use "./radius";
@use "./mixins";
@use "./functions";
@use "./typography";

// Webforms
.webform-submission-form {
  @include mixins.container-sm();
  display: flex;
  flex-direction: column;
  gap: spacing.$wa-spacing-07;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: spacing.$wa-spacing-07;
  }
}

// Checkboxes & Radios
.js-form-type-checkbox,
.js-form-type-radio {
  display: flex;
  align-items: center;
  gap: spacing.$wa-spacing-03;
  padding: spacing.$wa-spacing-03;

  &:hover {
    cursor: pointer;
  }
}

.webform-type-checkboxes,
.webform-type-radios {
  legend {
    font-family: typography.$bold-font;
    font-size: functions.calculate-rem(20);
    margin-bottom: spacing.$wa-spacing-02;

    .optional {
      font-family: typography.$font-family;
    }
  }

  .js-webform-checkboxes,
  .js-webform-radios {
    display: flex;
    flex-direction: column;
    gap: spacing.$wa-spacing-03;
  }

  .js-form-type-checkbox,
  .js-form-type-radio {
    padding: 0;
    padding-left: spacing.$wa-spacing-03;

    label {
      margin: 0;
    }
  }

  .webform-type-checkbox,
  .webform-type-radio {
    display: flex;
  }
}

.webform-type-checkbox,
.webform-type-radio {
  display: block;

  label.option {
    font-family: typography.$font-family;
    font-size: functions.calculate-rem(20);
    margin: 0;
  }
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  width: spacing.$wa-spacing-06;
  height: spacing.$wa-spacing-06;
  background: colors.$wa-white;
  border-radius: radius.$radius-xxs;
  border: functions.calculate-rem(2) solid colors.$wa-navy;
  vertical-align: middle;

  &:checked {
    background-color: colors.$wa-navy;
    background-image: url("../../images/icons/wa-form-check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &:focus-visible {
    outline: spacing.$wa-spacing-01 colors.$wa-pink solid;
    box-shadow: 0 0 0 functions.calculate-rem(2) colors.$wa-navy;
  }
}

input[type='radio'] {
  border-radius: radius.$radius-full;

  &:checked {
    background-image: none;
    background-color: colors.$wa-navy;
  }

  &:focus-visible {
    outline: spacing.$wa-spacing-01 colors.$wa-pink solid;
    box-shadow: 0 0 0 functions.calculate-rem(2) colors.$wa-navy;
  }
}


.form-item {
  label {
    display: inline-block;
    font-family: typography.$bold-font;
    font-size: functions.calculate-rem(20);
    margin-bottom: spacing.$wa-spacing-02;
  }

  .optional {
    font-size: functions.calculate-rem(20);
  }

  .description {
    font-size: functions.calculate-rem(16);
    color: colors.$wa-navy-80;
    margin-bottom: spacing.$wa-spacing-03;
  }

  // Inputs & textareas
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'] {
    width: 100%;
    height: functions.calculate-rem(28);
    border-radius: 2px;
    border: 2px solid colors.$wa-navy;
    padding: spacing.$wa-spacing-03;
    font-size: functions.calculate-rem(18);
  }

  textarea {
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    border: 2px solid colors.$wa-navy;
    padding: spacing.$wa-spacing-03;
    font-size: functions.calculate-rem(20);
  }

  // Select
  select {
    width: 100%;
    height: functions.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid colors.$wa-navy;
    font-size: functions.calculate-rem(20);
    padding: spacing.$wa-spacing-03;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../../images/icons/select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
  }
}

.webform-progress-tracker {
  .progress-step {
    .progress-marker {
      font-size: functions.calculate-rem(22);
      font-family: typography.$bold-font;

      &:before {
        background-size: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        top: -10px;
      }
      &:after {
        background-color: colors.$wa-cream;
      }
    }
    &:hover {
      .progress-marker {
        &:before {
          background-color: colors.$wa-cream;
        }
      }
    }
  }

  .progress-step {
    .progress-marker {
      color: colors.$wa-navy;
      &:before {
        background-color: colors.$wa-cream;
        background-image: url("../../images/icons/next.svg");
        width: 51px;
        height: 48px;
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: colors.$wa-cream;
          }
        }
      }
    }


    &.is-complete {
      .progress-marker {
        &:before {
          background-color: colors.$wa-cream;
          background-image: url("../../images/icons/complete.svg");
        }
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: colors.$wa-white;
          }
        }
      }
    }

    &.is-active {
      .progress-marker {
        color: colors.$wa-navy;

        &:before {
          background-color: colors.$wa-white;
          background-image: url("../../images/icons/current.svg");
          background-size: cover;
        }
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: colors.$wa-white;
          }
        }
      }
    }
  }
}
