// Utility functions and mixins.

@function calculate-rem($size) {
  $rem-size: calc($size / 16);

  @return #{$rem-size}rem;
}

@mixin font-size($size, $height: $size) {
  font-size: calculate-rem($size);
  line-height: calculate-rem($height);
}

@mixin sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// Reset an input type button/submit, or a button element.
@mixin reset-button {
  padding: 0;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

@mixin container-md {
  width: 100%;
  @include desktop() {
    max-width: calculate-rem(1116);
    margin-left: calculate-rem(114);
  }
}

@mixin container-sm {
  width: 100%;
  max-width: calculate-rem(660);
  @include desktop() {
    margin-left: calculate-rem(114);
  }
}

