@use "./functions";

$radius-none: 0;

// 2px
$radius-xxs: functions.calculate-rem(2);

// 4px
$radius-xs: functions.calculate-rem(4);

// 6px
$radius-sm: functions.calculate-rem(6);

// 8px
$radius-md: functions.calculate-rem(8);

// 10px
$radius-lg: functions.calculate-rem(10);

// 12px
$radius-xl: functions.calculate-rem(12);

// 16px
$radius-2xl: functions.calculate-rem(16);

// 20px
$radius-3xl: functions.calculate-rem(20);

// 24px
$radius-4xl: functions.calculate-rem(24);

// 32px
$radius-5xl: functions.calculate-rem(32);

// 40px
$radius-6xl: functions.calculate-rem(40);

// 48px
$radius-7xl: functions.calculate-rem(48);

// 64px
$radius-8xl: functions.calculate-rem(64);

// 80px
$radius-9xl: functions.calculate-rem(80);

// 96px
$radius-10xl: functions.calculate-rem(96);

// 9998.4px
$radius-full: 100%;
