@import "./../../../sass/base";

.utility-navigation {
  color: $wa-navy;

  ul {
    list-style: none;
  }

  &__menu-link {
    @include utility-nav-link;
  }

  &__link-with-icon {
    display: flex;
    gap: calculate-rem(6);

    .icon {
      @include wa-transition-motion-flow(transform, 200ms);
      fill: currentColor;
      width: calculate-rem(9);
      pointer-events: none;
      display: flex;
      align-self: center;
    }

    svg {
      max-width: 100%;
      aspect-ratio: 0.8;
    }
  }

  &--desktop {
    display: none;

    @include tablet {
      display: block;
      background: $wa-cream;
    }

    .utility-navigation__container {
      @include page-container;
    }

    .utility-navigation__menu {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      padding: $wa-spacing-03 0;
      gap: $wa-spacing-04;

    }
    .language-switcher {
      padding-right: $wa-spacing-04;
      .icon {
        right: 0;
      }
    }
  }
}

// Generic styles for the desktop and mobile versions of the site selector.
.site-selector {
  background-color: $wa-cream;

  &__title {
    font-family: $bold-font;
    font-size: calculate-rem(20);
    margin-bottom: $wa-spacing-04;
  }
  &__site-group-heading {
    font-family: $bold-font;
    font-size: calculate-rem(16);
    color: $wa-navy;
  }
  &__site-group {
    display: flex;
    gap: $wa-spacing-04;
    margin-top: $wa-spacing-04;
  }
  &__country {
    position: relative;
    display: inline-block;
    padding-left: calculate-rem(20);
    color: $wa-navy;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:focus-visible {
      outline: 3px solid $wa-pink;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: calculate-rem(4);
      background-repeat: no-repeat;
      background-position: center left;
      background-size: contain;
      width: 16px;
      height: 16px;
    }
    &--GLOBAL:before {background-image: url('/themes/custom/wateraid/images/flags/UKN.png')}
    &--ABW:before {background-image: url('/themes/custom/wateraid/images/flags/ABW.png')}
    &--AFG:before {background-image: url('/themes/custom/wateraid/images/flags/AFG.png')}
    &--AGO:before {background-image: url('/themes/custom/wateraid/images/flags/AGO.png')}
    &--AIA:before {background-image: url('/themes/custom/wateraid/images/flags/AIA.png')}
    &--Aland:before {background-image: url('/themes/custom/wateraid/images/flags/Aland.png')}
    &--ALB:before {background-image: url('/themes/custom/wateraid/images/flags/ALB.png')}
    &--AND:before {background-image: url('/themes/custom/wateraid/images/flags/AND.png')}
    &--ARE:before {background-image: url('/themes/custom/wateraid/images/flags/ARE.png')}
    &--ARG:before {background-image: url('/themes/custom/wateraid/images/flags/ARG.png')}
    &--ARM:before {background-image: url('/themes/custom/wateraid/images/flags/ARM.png')}
    &--ASM:before {background-image: url('/themes/custom/wateraid/images/flags/ASM.png')}
    &--ATA:before {background-image: url('/themes/custom/wateraid/images/flags/ATA.png')}
    &--ATF:before {background-image: url('/themes/custom/wateraid/images/flags/ATF.png')}
    &--ATG:before {background-image: url('/themes/custom/wateraid/images/flags/ATG.png')}
    &--AUS:before {background-image: url('/themes/custom/wateraid/images/flags/AUS.png')}
    &--AUT:before {background-image: url('/themes/custom/wateraid/images/flags/AUT.png')}
    &--AZE:before {background-image: url('/themes/custom/wateraid/images/flags/AZE.png')}
    &--BDI:before {background-image: url('/themes/custom/wateraid/images/flags/BDI.png')}
    &--BEL:before {background-image: url('/themes/custom/wateraid/images/flags/BEL.png')}
    &--BEN:before {background-image: url('/themes/custom/wateraid/images/flags/BEN.png')}
    &--BFA:before {background-image: url('/themes/custom/wateraid/images/flags/BFA.png')}
    &--BGD:before {background-image: url('/themes/custom/wateraid/images/flags/BGD.png')}
    &--BGR:before {background-image: url('/themes/custom/wateraid/images/flags/BGR.png')}
    &--BHR:before {background-image: url('/themes/custom/wateraid/images/flags/BHR.png')}
    &--BHS:before {background-image: url('/themes/custom/wateraid/images/flags/BHS.png')}
    &--BIH:before {background-image: url('/themes/custom/wateraid/images/flags/BIH.png')}
    &--BLM:before {background-image: url('/themes/custom/wateraid/images/flags/BLM.png')}
    &--BLR:before {background-image: url('/themes/custom/wateraid/images/flags/BLR.png')}
    &--BLZ:before {background-image: url('/themes/custom/wateraid/images/flags/BLZ.png')}
    &--BMU:before {background-image: url('/themes/custom/wateraid/images/flags/BMU.png')}
    &--BOL:before {background-image: url('/themes/custom/wateraid/images/flags/BOL.png')}
    &--BRA:before {background-image: url('/themes/custom/wateraid/images/flags/BRA.png')}
    &--BRB:before {background-image: url('/themes/custom/wateraid/images/flags/BRB.png')}
    &--BRN:before {background-image: url('/themes/custom/wateraid/images/flags/BRN.png')}
    &--BTN:before {background-image: url('/themes/custom/wateraid/images/flags/BTN.png')}
    &--BWA:before {background-image: url('/themes/custom/wateraid/images/flags/BWA.png')}
    &--CAF:before {background-image: url('/themes/custom/wateraid/images/flags/CAF.png')}
    &--CAN:before {background-image: url('/themes/custom/wateraid/images/flags/CAN.png')}
    &--CCK:before {background-image: url('/themes/custom/wateraid/images/flags/CCK.png')}
    &--CHE:before {background-image: url('/themes/custom/wateraid/images/flags/CHE.png')}
    &--CHL:before {background-image: url('/themes/custom/wateraid/images/flags/CHL.png')}
    &--CHN:before {background-image: url('/themes/custom/wateraid/images/flags/CHN.png')}
    &--CMR:before {background-image: url('/themes/custom/wateraid/images/flags/CMR.png')}
    &--COD:before {background-image: url('/themes/custom/wateraid/images/flags/COD.png')}
    &--COG:before {background-image: url('/themes/custom/wateraid/images/flags/COG.png')}
    &--COL:before {background-image: url('/themes/custom/wateraid/images/flags/COL.png')}
    &--COM:before {background-image: url('/themes/custom/wateraid/images/flags/COM.png')}
    &--CPV:before {background-image: url('/themes/custom/wateraid/images/flags/CPV.png')}
    &--CRI:before {background-image: url('/themes/custom/wateraid/images/flags/CRI.png')}
    &--CUB:before {background-image: url('/themes/custom/wateraid/images/flags/CUB.png')}
    &--Curacao:before {background-image: url('/themes/custom/wateraid/images/flags/Curacao.png')}
    &--CXR:before {background-image: url('/themes/custom/wateraid/images/flags/CXR.png')}
    &--CYM:before {background-image: url('/themes/custom/wateraid/images/flags/CYM.png')}
    &--CYP:before {background-image: url('/themes/custom/wateraid/images/flags/CYP.png')}
    &--CZE:before {background-image: url('/themes/custom/wateraid/images/flags/CZE.png')}
    &--DEU:before {background-image: url('/themes/custom/wateraid/images/flags/DEU.png')}
    &--DJI:before {background-image: url('/themes/custom/wateraid/images/flags/DJI.png')}
    &--DMA:before {background-image: url('/themes/custom/wateraid/images/flags/DMA.png')}
    &--DNK:before {background-image: url('/themes/custom/wateraid/images/flags/DNK.png')}
    &--DOM:before {background-image: url('/themes/custom/wateraid/images/flags/DOM.png')}
    &--DZA:before {background-image: url('/themes/custom/wateraid/images/flags/DZA.png')}
    &--ECU:before {background-image: url('/themes/custom/wateraid/images/flags/ECU.png')}
    &--EGY:before {background-image: url('/themes/custom/wateraid/images/flags/EGY.png')}
    &--England:before {background-image: url('/themes/custom/wateraid/images/flags/England.png')}
    &--ERI:before {background-image: url('/themes/custom/wateraid/images/flags/ERI.png')}
    &--ESH:before {background-image: url('/themes/custom/wateraid/images/flags/ESH.png')}
    &--ESP:before {background-image: url('/themes/custom/wateraid/images/flags/ESP.png')}
    &--EST:before {background-image: url('/themes/custom/wateraid/images/flags/EST.png')}
    &--ETH:before {background-image: url('/themes/custom/wateraid/images/flags/ETH.png')}
    &--FIN:before {background-image: url('/themes/custom/wateraid/images/flags/FIN.png')}
    &--FJI:before {background-image: url('/themes/custom/wateraid/images/flags/FJI.png')}
    &--FLK:before {background-image: url('/themes/custom/wateraid/images/flags/FLK.png')}
    &--FRA:before {background-image: url('/themes/custom/wateraid/images/flags/FRA.png')}
    &--FRO:before {background-image: url('/themes/custom/wateraid/images/flags/FRO.png')}
    &--FSM:before {background-image: url('/themes/custom/wateraid/images/flags/FSM.png')}
    &--GAB:before {background-image: url('/themes/custom/wateraid/images/flags/GAB.png')}
    &--GBR:before {background-image: url('/themes/custom/wateraid/images/flags/GBR.png')}
    &--GEO:before {background-image: url('/themes/custom/wateraid/images/flags/GEO.png')}
    &--GGY:before {background-image: url('/themes/custom/wateraid/images/flags/GGY.png')}
    &--GHA:before {background-image: url('/themes/custom/wateraid/images/flags/GHA.png')}
    &--GIB:before {background-image: url('/themes/custom/wateraid/images/flags/GIB.png')}
    &--GIN:before {background-image: url('/themes/custom/wateraid/images/flags/GIN.png')}
    &--GMB:before {background-image: url('/themes/custom/wateraid/images/flags/GMB.png')}
    &--GNB:before {background-image: url('/themes/custom/wateraid/images/flags/GNB.png')}
    &--GNQ:before {background-image: url('/themes/custom/wateraid/images/flags/GNQ.png')}
    &--GoSquared:before {background-image: url('/themes/custom/wateraid/images/flags/GoSquared.png')}
    &--GRC:before {background-image: url('/themes/custom/wateraid/images/flags/GRC.png')}
    &--GRD:before {background-image: url('/themes/custom/wateraid/images/flags/GRD.png')}
    &--GRL:before {background-image: url('/themes/custom/wateraid/images/flags/GRL.png')}
    &--GTM:before {background-image: url('/themes/custom/wateraid/images/flags/GTM.png')}
    &--GUM:before {background-image: url('/themes/custom/wateraid/images/flags/GUM.png')}
    &--GUY:before {background-image: url('/themes/custom/wateraid/images/flags/GUY.png')}
    &--HKG:before {background-image: url('/themes/custom/wateraid/images/flags/HKG.png')}
    &--HND:before {background-image: url('/themes/custom/wateraid/images/flags/HND.png')}
    &--HRV:before {background-image: url('/themes/custom/wateraid/images/flags/HRV.png')}
    &--HTI:before {background-image: url('/themes/custom/wateraid/images/flags/HTI.png')}
    &--HUN:before {background-image: url('/themes/custom/wateraid/images/flags/HUN.png')}
    &--IDN:before {background-image: url('/themes/custom/wateraid/images/flags/IDN.png')}
    &--IMN:before {background-image: url('/themes/custom/wateraid/images/flags/IMN.png')}
    &--IND:before {background-image: url('/themes/custom/wateraid/images/flags/IND.png')}
    &--IRL:before {background-image: url('/themes/custom/wateraid/images/flags/IRL.png')}
    &--IRN:before {background-image: url('/themes/custom/wateraid/images/flags/IRN.png')}
    &--IRQ:before {background-image: url('/themes/custom/wateraid/images/flags/IRQ.png')}
    &--ISL:before {background-image: url('/themes/custom/wateraid/images/flags/ISL.png')}
    &--ISR:before {background-image: url('/themes/custom/wateraid/images/flags/ISR.png')}
    &--ITA:before {background-image: url('/themes/custom/wateraid/images/flags/ITA.png')}
    &--JAM:before {background-image: url('/themes/custom/wateraid/images/flags/JAM.png')}
    &--JEY:before {background-image: url('/themes/custom/wateraid/images/flags/JEY.png')}
    &--JOR:before {background-image: url('/themes/custom/wateraid/images/flags/JOR.png')}
    &--JPN:before {background-image: url('/themes/custom/wateraid/images/flags/JPN.png')}
    &--KAZ:before {background-image: url('/themes/custom/wateraid/images/flags/KAZ.png')}
    &--KEN:before {background-image: url('/themes/custom/wateraid/images/flags/KEN.png')}
    &--KGZ:before {background-image: url('/themes/custom/wateraid/images/flags/KGZ.png')}
    &--KHM:before {background-image: url('/themes/custom/wateraid/images/flags/KHM.png')}
    &--KIR:before {background-image: url('/themes/custom/wateraid/images/flags/KIR.png')}
    &--KNA:before {background-image: url('/themes/custom/wateraid/images/flags/KNA.png')}
    &--Kosovo:before {background-image: url('/themes/custom/wateraid/images/flags/Kosovo.png')}
    &--KWT:before {background-image: url('/themes/custom/wateraid/images/flags/KWT.png')}
    &--LAO:before {background-image: url('/themes/custom/wateraid/images/flags/LAO.png')}
    &--LBN:before {background-image: url('/themes/custom/wateraid/images/flags/LBN.png')}
    &--LBR:before {background-image: url('/themes/custom/wateraid/images/flags/LBR.png')}
    &--LBY:before {background-image: url('/themes/custom/wateraid/images/flags/LBY.png')}
    &--LCA:before {background-image: url('/themes/custom/wateraid/images/flags/LCA.png')}
    &--LIE:before {background-image: url('/themes/custom/wateraid/images/flags/LIE.png')}
    &--LKA:before {background-image: url('/themes/custom/wateraid/images/flags/LKA.png')}
    &--LSO:before {background-image: url('/themes/custom/wateraid/images/flags/LSO.png')}
    &--LTU:before {background-image: url('/themes/custom/wateraid/images/flags/LTU.png')}
    &--LUX:before {background-image: url('/themes/custom/wateraid/images/flags/LUX.png')}
    &--LVA:before {background-image: url('/themes/custom/wateraid/images/flags/LVA.png')}
    &--MAC:before {background-image: url('/themes/custom/wateraid/images/flags/MAC.png')}
    &--MAF:before {background-image: url('/themes/custom/wateraid/images/flags/MAF.png')}
    &--MAR:before {background-image: url('/themes/custom/wateraid/images/flags/MAR.png')}
    &--Mars:before {background-image: url('/themes/custom/wateraid/images/flags/Mars.png')}
    &--MCO:before {background-image: url('/themes/custom/wateraid/images/flags/MCO.png')}
    &--MDA:before {background-image: url('/themes/custom/wateraid/images/flags/MDA.png')}
    &--MDG:before {background-image: url('/themes/custom/wateraid/images/flags/MDG.png')}
    &--MDV:before {background-image: url('/themes/custom/wateraid/images/flags/MDV.png')}
    &--MEX:before {background-image: url('/themes/custom/wateraid/images/flags/MEX.png')}
    &--MHL:before {background-image: url('/themes/custom/wateraid/images/flags/MHL.png')}
    &--MKD:before {background-image: url('/themes/custom/wateraid/images/flags/MKD.png')}
    &--MLI:before {background-image: url('/themes/custom/wateraid/images/flags/MLI.png')}
    &--MLT:before {background-image: url('/themes/custom/wateraid/images/flags/MLT.png')}
    &--MMR:before {background-image: url('/themes/custom/wateraid/images/flags/MMR.png')}
    &--MNE:before {background-image: url('/themes/custom/wateraid/images/flags/MNE.png')}
    &--MNG:before {background-image: url('/themes/custom/wateraid/images/flags/MNG.png')}
    &--MNP:before {background-image: url('/themes/custom/wateraid/images/flags/MNP.png')}
    &--MOZ:before {background-image: url('/themes/custom/wateraid/images/flags/MOZ.png')}
    &--MRT:before {background-image: url('/themes/custom/wateraid/images/flags/MRT.png')}
    &--MSR:before {background-image: url('/themes/custom/wateraid/images/flags/MSR.png')}
    &--MTQ:before {background-image: url('/themes/custom/wateraid/images/flags/MTQ.png')}
    &--MUS:before {background-image: url('/themes/custom/wateraid/images/flags/MUS.png')}
    &--MWI:before {background-image: url('/themes/custom/wateraid/images/flags/MWI.png')}
    &--MYS:before {background-image: url('/themes/custom/wateraid/images/flags/MYS.png')}
    &--MYT:before {background-image: url('/themes/custom/wateraid/images/flags/MYT.png')}
    &--Nagorno-Karabakh:before {background-image: url('/themes/custom/wateraid/images/flags/Nagorno-Karabakh.png')}
    &--NAM:before {background-image: url('/themes/custom/wateraid/images/flags/NAM.png')}
    &--NATO:before {background-image: url('/themes/custom/wateraid/images/flags/NATO.png')}
    &--NCL:before {background-image: url('/themes/custom/wateraid/images/flags/NCL.png')}
    &--NER:before {background-image: url('/themes/custom/wateraid/images/flags/NER.png')}
    &--Netherlands-Antilles:before {background-image: url('/themes/custom/wateraid/images/flags/Netherlands-Antilles.png')}
    &--NFK:before {background-image: url('/themes/custom/wateraid/images/flags/NFK.png')}
    &--NGA:before {background-image: url('/themes/custom/wateraid/images/flags/NGA.png')}
    &--NIC:before {background-image: url('/themes/custom/wateraid/images/flags/NIC.png')}
    &--NIU:before {background-image: url('/themes/custom/wateraid/images/flags/NIU.png')}
    &--NLD:before {background-image: url('/themes/custom/wateraid/images/flags/NLD.png')}
    &--NOR:before {background-image: url('/themes/custom/wateraid/images/flags/NOR.png')}
    &--North-Korea:before {background-image: url('/themes/custom/wateraid/images/flags/North-Korea.png')}
    &--Northern-Cyprus:before {background-image: url('/themes/custom/wateraid/images/flags/Northern-Cyprus.png')}
    &--NPL:before {background-image: url('/themes/custom/wateraid/images/flags/NPL.png')}
    &--NRU:before {background-image: url('/themes/custom/wateraid/images/flags/NRU.png')}
    &--NZL:before {background-image: url('/themes/custom/wateraid/images/flags/NZL.png')}
    &--Olympics:before {background-image: url('/themes/custom/wateraid/images/flags/Olympics.png')}
    &--OMN:before {background-image: url('/themes/custom/wateraid/images/flags/OMN.png')}
    &--PAK:before {background-image: url('/themes/custom/wateraid/images/flags/PAK.png')}
    &--PAN:before {background-image: url('/themes/custom/wateraid/images/flags/PAN.png')}
    &--PCN:before {background-image: url('/themes/custom/wateraid/images/flags/PCN.png')}
    &--PER:before {background-image: url('/themes/custom/wateraid/images/flags/PER.png')}
    &--PHL:before {background-image: url('/themes/custom/wateraid/images/flags/PHL.png')}
    &--PLW:before {background-image: url('/themes/custom/wateraid/images/flags/PLW.png')}
    &--PNG:before {background-image: url('/themes/custom/wateraid/images/flags/PNG.png')}
    &--POL:before {background-image: url('/themes/custom/wateraid/images/flags/POL.png')}
    &--PRI:before {background-image: url('/themes/custom/wateraid/images/flags/PRI.png')}
    &--PRT:before {background-image: url('/themes/custom/wateraid/images/flags/PRT.png')}
    &--PRY:before {background-image: url('/themes/custom/wateraid/images/flags/PRY.png')}
    &--PSE:before {background-image: url('/themes/custom/wateraid/images/flags/PSE.png')}
    &--PYF:before {background-image: url('/themes/custom/wateraid/images/flags/PYF.png')}
    &--QAT:before {background-image: url('/themes/custom/wateraid/images/flags/QAT.png')}
    &--Red-Cross:before {background-image: url('/themes/custom/wateraid/images/flags/Red-Cross.png')}
    &--ROU:before {background-image: url('/themes/custom/wateraid/images/flags/ROU.png')}
    &--RUS:before {background-image: url('/themes/custom/wateraid/images/flags/RUS.png')}
    &--RWA:before {background-image: url('/themes/custom/wateraid/images/flags/RWA.png')}
    &--SAU:before {background-image: url('/themes/custom/wateraid/images/flags/SAU.png')}
    &--Scotland:before {background-image: url('/themes/custom/wateraid/images/flags/Scotland.png')}
    &--SDN:before {background-image: url('/themes/custom/wateraid/images/flags/SDN.png')}
    &--SEN:before {background-image: url('/themes/custom/wateraid/images/flags/SEN.png')}
    &--SGP:before {background-image: url('/themes/custom/wateraid/images/flags/SGP.png')}
    &--SGS:before {background-image: url('/themes/custom/wateraid/images/flags/SGS.png')}
    &--SHN:before {background-image: url('/themes/custom/wateraid/images/flags/SHN.png')}
    &--SLB:before {background-image: url('/themes/custom/wateraid/images/flags/SLB.png')}
    &--SLE:before {background-image: url('/themes/custom/wateraid/images/flags/SLE.png')}
    &--SLV:before {background-image: url('/themes/custom/wateraid/images/flags/SLV.png')}
    &--SMR:before {background-image: url('/themes/custom/wateraid/images/flags/SMR.png')}
    &--SOM:before {background-image: url('/themes/custom/wateraid/images/flags/SOM.png')}
    &--Somaliland:before {background-image: url('/themes/custom/wateraid/images/flags/Somaliland.png')}
    &--South-Korea:before {background-image: url('/themes/custom/wateraid/images/flags/South-Korea.png')}
    &--South-Ossetia:before {background-image: url('/themes/custom/wateraid/images/flags/South-Ossetia.png')}
    &--SRB:before {background-image: url('/themes/custom/wateraid/images/flags/SRB.png')}
    &--SSD:before {background-image: url('/themes/custom/wateraid/images/flags/SSD.png')}
    &--STP:before {background-image: url('/themes/custom/wateraid/images/flags/STP.png')}
    &--SUR:before {background-image: url('/themes/custom/wateraid/images/flags/SUR.png')}
    &--SVK:before {background-image: url('/themes/custom/wateraid/images/flags/SVK.png')}
    &--SVN:before {background-image: url('/themes/custom/wateraid/images/flags/SVN.png')}
    &--SWE:before {background-image: url('/themes/custom/wateraid/images/flags/SWE.png')}
    &--SWZ:before {background-image: url('/themes/custom/wateraid/images/flags/SWZ.png')}
    &--SYC:before {background-image: url('/themes/custom/wateraid/images/flags/SYC.png')}
    &--SYR:before {background-image: url('/themes/custom/wateraid/images/flags/SYR.png')}
    &--TCA:before {background-image: url('/themes/custom/wateraid/images/flags/TCA.png')}
    &--TCD:before {background-image: url('/themes/custom/wateraid/images/flags/TCD.png')}
    &--TGO:before {background-image: url('/themes/custom/wateraid/images/flags/TGO.png')}
    &--THA:before {background-image: url('/themes/custom/wateraid/images/flags/THA.png')}
    &--TJK:before {background-image: url('/themes/custom/wateraid/images/flags/TJK.png')}
    &--TKL:before {background-image: url('/themes/custom/wateraid/images/flags/TKL.png')}
    &--TKM:before {background-image: url('/themes/custom/wateraid/images/flags/TKM.png')}
    &--TLS:before {background-image: url('/themes/custom/wateraid/images/flags/TLS.png')}
    &--TON:before {background-image: url('/themes/custom/wateraid/images/flags/TON.png')}
    &--TTO:before {background-image: url('/themes/custom/wateraid/images/flags/TTO.png')}
    &--TUN:before {background-image: url('/themes/custom/wateraid/images/flags/TUN.png')}
    &--TUR:before {background-image: url('/themes/custom/wateraid/images/flags/TUR.png')}
    &--TUV:before {background-image: url('/themes/custom/wateraid/images/flags/TUV.png')}
    &--TWN:before {background-image: url('/themes/custom/wateraid/images/flags/TWN.png')}
    &--TZA:before {background-image: url('/themes/custom/wateraid/images/flags/TZA.png')}
    &--UGA:before {background-image: url('/themes/custom/wateraid/images/flags/UGA.png')}
    &--UKN:before {background-image: url('/themes/custom/wateraid/images/flags/UKN.png')}
    &--UKR:before {background-image: url('/themes/custom/wateraid/images/flags/UKR.png')}
    &--United-Nations:before {background-image: url('/themes/custom/wateraid/images/flags/United-Nations.png')}
    &--Unknown:before {background-image: url('/themes/custom/wateraid/images/flags/Unknown.png')}
    &--URY:before {background-image: url('/themes/custom/wateraid/images/flags/URY.png')}
    &--US-Virgin-Islands:before {background-image: url('/themes/custom/wateraid/images/flags/US-Virgin-Islands.png')}
    &--USA:before {background-image: url('/themes/custom/wateraid/images/flags/USA.png')}
    &--UZB:before {background-image: url('/themes/custom/wateraid/images/flags/UZB.png')}
    &--Vatican-City:before {background-image: url('/themes/custom/wateraid/images/flags/Vatican-City.png')}
    &--VCT:before {background-image: url('/themes/custom/wateraid/images/flags/VCT.png')}
    &--VEN:before {background-image: url('/themes/custom/wateraid/images/flags/VEN.png')}
    &--VNM:before {background-image: url('/themes/custom/wateraid/images/flags/VNM.png')}
    &--VUT:before {background-image: url('/themes/custom/wateraid/images/flags/VUT.png')}
    &--Wales:before {background-image: url('/themes/custom/wateraid/images/flags/Wales.png')}
    &--WLF:before {background-image: url('/themes/custom/wateraid/images/flags/WLF.png')}
    &--WSM:before {background-image: url('/themes/custom/wateraid/images/flags/WSM.png')}
    &--YEM:before {background-image: url('/themes/custom/wateraid/images/flags/YEM.png')}
    &--ZAF:before {background-image: url('/themes/custom/wateraid/images/flags/ZAF.png')}
    &--ZMB:before {background-image: url('/themes/custom/wateraid/images/flags/ZMB.png')}
    &--ZWE:before {background-image: url('/themes/custom/wateraid/images/flags/ZWE.png')}
  }
}

.utility-navigation--desktop {
  position: relative;
  z-index: 25;

  .utility-navigation__menu-link--site-selector-btn {
    .icon {
      transform: rotate(180deg);
    }
    &[aria-expanded="true"] {
      .icon {
        transform: rotate(0deg);
      }
    }
  }

  .utility-navigation__container {
    background: $wa-cream;
  }

  .site-selector {
    --site-selector-transition-time: 800ms;

    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-120%);
    z-index: -2;
    backface-visibility: hidden;
    visibility: hidden;
    @include wa-transition-motion-flow(transform, var(--site-selector-transition-time));

    &.active {
      transform: translateY(0%);
      visibility: visible;
    }

    .site-selector-panel-animating & {
      visibility: visible;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: transparent url('/themes/custom/wateraid/images/icons/wa-curve-low-cream.svg') bottom center no-repeat;
      background-size: cover;
      height: calculate-rem(56);
    }

    &__inner {
      @include page-container;
    }
    &__panel {
      @include grid;
      padding-top: $wa-spacing-09;
    }
    &__col {
      @include grid-item-span(4, 1, 2);

      &--first {
        @include grid-item(4, 2, 4, 1, 1, 2);
      }
      &:nth-child(2) {
        grid-column: 4/span 1;
        @include desktop {
          grid-column: 6/span 2;
        }
      }
      &:nth-child(3) {
        grid-column: 5/span 1;
        @include desktop {
          grid-column: 8/span 2;
        }
      }
      &:nth-child(4) {
        grid-column: 6/span 1;
        @include desktop {
          grid-column: 10/span 2;
        }
      }
    }
    &__site-group {
      margin-bottom: $wa-spacing-10;
      flex-direction: column;

      &:first-child {
        margin-top: $wa-spacing-00;
      }
      &:last-child {
        margin-bottom: $wa-spacing-00;
      }
    }
  }
}
