@import "./../../../sass/base";

.utility-navigation {
  color: $wa-navy;

  ul {
    list-style: none;
  }

  &__menu-link {
    @include utility-nav-link;
  }

  &__link-with-icon {
    display: flex;
    gap: calculate-rem(6);

    .icon {
      @include wa-transition-motion-flow(transform, 200ms);
      fill: currentColor;
      width: calculate-rem(9);
      pointer-events: none;
      display: flex;
      align-self: center;
    }

    svg {
      max-width: 100%;
      aspect-ratio: 0.8;
    }
  }

  &--desktop {
    display: none;

    @include tablet {
      display: block;
      background: $wa-cream;
    }

    .utility-navigation__container {
      @include page-container;
    }

    .utility-navigation__menu {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      padding: $wa-spacing-03 0;
      gap: $wa-spacing-04;

    }
    .language-switcher {
      padding-right: $wa-spacing-04;
      .icon {
        right: 0;
      }
    }
  }
}

// Generic styles for the desktop and mobile versions of the site selector.
.site-selector {
  background-color: $wa-cream;

  &__title {
    font-family: $bold-font;
    font-size: calculate-rem(20);
    margin-bottom: $wa-spacing-04;
  }
  &__site-group-heading {
    font-family: $bold-font;
    font-size: calculate-rem(16);
    color: $wa-navy;
  }
  &__site-group {
    display: flex;
    gap: $wa-spacing-04;
    margin-top: $wa-spacing-04;
  }
  &__country {
    position: relative;
    display: inline-block;
    padding-left: calculate-rem(20);
    color: $wa-navy;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:focus-visible {
      outline: 3px solid $wa-pink;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: calculate-rem(4);
      background-repeat: no-repeat;
      background-position: center left;
      background-size: contain;
      width: 16px;
      height: 16px;
    }
    &--GLOBAL:before {background-image: url('/themes/custom/wateraid/images/flags/UKN.webp')}
    &--ABW:before {background-image: url('/themes/custom/wateraid/images/flags/ABW.webp')}
    &--AFG:before {background-image: url('/themes/custom/wateraid/images/flags/AFG.webp')}
    &--AGO:before {background-image: url('/themes/custom/wateraid/images/flags/AGO.webp')}
    &--AIA:before {background-image: url('/themes/custom/wateraid/images/flags/AIA.webp')}
    &--Aland:before {background-image: url('/themes/custom/wateraid/images/flags/Aland.webp')}
    &--ALB:before {background-image: url('/themes/custom/wateraid/images/flags/ALB.webp')}
    &--AND:before {background-image: url('/themes/custom/wateraid/images/flags/AND.webp')}
    &--ARE:before {background-image: url('/themes/custom/wateraid/images/flags/ARE.webp')}
    &--ARG:before {background-image: url('/themes/custom/wateraid/images/flags/ARG.webp')}
    &--ARM:before {background-image: url('/themes/custom/wateraid/images/flags/ARM.webp')}
    &--ASM:before {background-image: url('/themes/custom/wateraid/images/flags/ASM.webp')}
    &--ATA:before {background-image: url('/themes/custom/wateraid/images/flags/ATA.webp')}
    &--ATF:before {background-image: url('/themes/custom/wateraid/images/flags/ATF.webp')}
    &--ATG:before {background-image: url('/themes/custom/wateraid/images/flags/ATG.webp')}
    &--AUS:before {background-image: url('/themes/custom/wateraid/images/flags/AUS.webp')}
    &--AUT:before {background-image: url('/themes/custom/wateraid/images/flags/AUT.webp')}
    &--AZE:before {background-image: url('/themes/custom/wateraid/images/flags/AZE.webp')}
    &--BDI:before {background-image: url('/themes/custom/wateraid/images/flags/BDI.webp')}
    &--BEL:before {background-image: url('/themes/custom/wateraid/images/flags/BEL.webp')}
    &--BEN:before {background-image: url('/themes/custom/wateraid/images/flags/BEN.webp')}
    &--BFA:before {background-image: url('/themes/custom/wateraid/images/flags/BFA.webp')}
    &--BGD:before {background-image: url('/themes/custom/wateraid/images/flags/BGD.webp')}
    &--BGR:before {background-image: url('/themes/custom/wateraid/images/flags/BGR.webp')}
    &--BHR:before {background-image: url('/themes/custom/wateraid/images/flags/BHR.webp')}
    &--BHS:before {background-image: url('/themes/custom/wateraid/images/flags/BHS.webp')}
    &--BIH:before {background-image: url('/themes/custom/wateraid/images/flags/BIH.webp')}
    &--BLM:before {background-image: url('/themes/custom/wateraid/images/flags/BLM.webp')}
    &--BLR:before {background-image: url('/themes/custom/wateraid/images/flags/BLR.webp')}
    &--BLZ:before {background-image: url('/themes/custom/wateraid/images/flags/BLZ.webp')}
    &--BMU:before {background-image: url('/themes/custom/wateraid/images/flags/BMU.webp')}
    &--BOL:before {background-image: url('/themes/custom/wateraid/images/flags/BOL.webp')}
    &--BRA:before {background-image: url('/themes/custom/wateraid/images/flags/BRA.webp')}
    &--BRB:before {background-image: url('/themes/custom/wateraid/images/flags/BRB.webp')}
    &--BRN:before {background-image: url('/themes/custom/wateraid/images/flags/BRN.webp')}
    &--BTN:before {background-image: url('/themes/custom/wateraid/images/flags/BTN.webp')}
    &--BWA:before {background-image: url('/themes/custom/wateraid/images/flags/BWA.webp')}
    &--CAF:before {background-image: url('/themes/custom/wateraid/images/flags/CAF.webp')}
    &--CAN:before {background-image: url('/themes/custom/wateraid/images/flags/CAN.webp')}
    &--CCK:before {background-image: url('/themes/custom/wateraid/images/flags/CCK.webp')}
    &--CHE:before {background-image: url('/themes/custom/wateraid/images/flags/CHE.webp')}
    &--CHL:before {background-image: url('/themes/custom/wateraid/images/flags/CHL.webp')}
    &--CHN:before {background-image: url('/themes/custom/wateraid/images/flags/CHN.webp')}
    &--CMR:before {background-image: url('/themes/custom/wateraid/images/flags/CMR.webp')}
    &--COD:before {background-image: url('/themes/custom/wateraid/images/flags/COD.webp')}
    &--COG:before {background-image: url('/themes/custom/wateraid/images/flags/COG.webp')}
    &--COL:before {background-image: url('/themes/custom/wateraid/images/flags/COL.webp')}
    &--COM:before {background-image: url('/themes/custom/wateraid/images/flags/COM.webp')}
    &--CPV:before {background-image: url('/themes/custom/wateraid/images/flags/CPV.webp')}
    &--CRI:before {background-image: url('/themes/custom/wateraid/images/flags/CRI.webp')}
    &--CUB:before {background-image: url('/themes/custom/wateraid/images/flags/CUB.webp')}
    &--Curacao:before {background-image: url('/themes/custom/wateraid/images/flags/Curacao.webp')}
    &--CXR:before {background-image: url('/themes/custom/wateraid/images/flags/CXR.webp')}
    &--CYM:before {background-image: url('/themes/custom/wateraid/images/flags/CYM.webp')}
    &--CYP:before {background-image: url('/themes/custom/wateraid/images/flags/CYP.webp')}
    &--CZE:before {background-image: url('/themes/custom/wateraid/images/flags/CZE.webp')}
    &--DEU:before {background-image: url('/themes/custom/wateraid/images/flags/DEU.webp')}
    &--DJI:before {background-image: url('/themes/custom/wateraid/images/flags/DJI.webp')}
    &--DMA:before {background-image: url('/themes/custom/wateraid/images/flags/DMA.webp')}
    &--DNK:before {background-image: url('/themes/custom/wateraid/images/flags/DNK.webp')}
    &--DOM:before {background-image: url('/themes/custom/wateraid/images/flags/DOM.webp')}
    &--DZA:before {background-image: url('/themes/custom/wateraid/images/flags/DZA.webp')}
    &--ECU:before {background-image: url('/themes/custom/wateraid/images/flags/ECU.webp')}
    &--EGY:before {background-image: url('/themes/custom/wateraid/images/flags/EGY.webp')}
    &--England:before {background-image: url('/themes/custom/wateraid/images/flags/England.webp')}
    &--ERI:before {background-image: url('/themes/custom/wateraid/images/flags/ERI.webp')}
    &--ESH:before {background-image: url('/themes/custom/wateraid/images/flags/ESH.webp')}
    &--ESP:before {background-image: url('/themes/custom/wateraid/images/flags/ESP.webp')}
    &--EST:before {background-image: url('/themes/custom/wateraid/images/flags/EST.webp')}
    &--ETH:before {background-image: url('/themes/custom/wateraid/images/flags/ETH.webp')}
    &--FIN:before {background-image: url('/themes/custom/wateraid/images/flags/FIN.webp')}
    &--FJI:before {background-image: url('/themes/custom/wateraid/images/flags/FJI.webp')}
    &--FLK:before {background-image: url('/themes/custom/wateraid/images/flags/FLK.webp')}
    &--FRA:before {background-image: url('/themes/custom/wateraid/images/flags/FRA.webp')}
    &--FRO:before {background-image: url('/themes/custom/wateraid/images/flags/FRO.webp')}
    &--FSM:before {background-image: url('/themes/custom/wateraid/images/flags/FSM.webp')}
    &--GAB:before {background-image: url('/themes/custom/wateraid/images/flags/GAB.webp')}
    &--GBR:before {background-image: url('/themes/custom/wateraid/images/flags/GBR.webp')}
    &--GEO:before {background-image: url('/themes/custom/wateraid/images/flags/GEO.webp')}
    &--GGY:before {background-image: url('/themes/custom/wateraid/images/flags/GGY.webp')}
    &--GHA:before {background-image: url('/themes/custom/wateraid/images/flags/GHA.webp')}
    &--GIB:before {background-image: url('/themes/custom/wateraid/images/flags/GIB.webp')}
    &--GIN:before {background-image: url('/themes/custom/wateraid/images/flags/GIN.webp')}
    &--GMB:before {background-image: url('/themes/custom/wateraid/images/flags/GMB.webp')}
    &--GNB:before {background-image: url('/themes/custom/wateraid/images/flags/GNB.webp')}
    &--GNQ:before {background-image: url('/themes/custom/wateraid/images/flags/GNQ.webp')}
    &--GoSquared:before {background-image: url('/themes/custom/wateraid/images/flags/GoSquared.webp')}
    &--GRC:before {background-image: url('/themes/custom/wateraid/images/flags/GRC.webp')}
    &--GRD:before {background-image: url('/themes/custom/wateraid/images/flags/GRD.webp')}
    &--GRL:before {background-image: url('/themes/custom/wateraid/images/flags/GRL.webp')}
    &--GTM:before {background-image: url('/themes/custom/wateraid/images/flags/GTM.webp')}
    &--GUM:before {background-image: url('/themes/custom/wateraid/images/flags/GUM.webp')}
    &--GUY:before {background-image: url('/themes/custom/wateraid/images/flags/GUY.webp')}
    &--HKG:before {background-image: url('/themes/custom/wateraid/images/flags/HKG.webp')}
    &--HND:before {background-image: url('/themes/custom/wateraid/images/flags/HND.webp')}
    &--HRV:before {background-image: url('/themes/custom/wateraid/images/flags/HRV.webp')}
    &--HTI:before {background-image: url('/themes/custom/wateraid/images/flags/HTI.webp')}
    &--HUN:before {background-image: url('/themes/custom/wateraid/images/flags/HUN.webp')}
    &--IDN:before {background-image: url('/themes/custom/wateraid/images/flags/IDN.webp')}
    &--IMN:before {background-image: url('/themes/custom/wateraid/images/flags/IMN.webp')}
    &--IND:before {background-image: url('/themes/custom/wateraid/images/flags/IND.webp')}
    &--IRL:before {background-image: url('/themes/custom/wateraid/images/flags/IRL.webp')}
    &--IRN:before {background-image: url('/themes/custom/wateraid/images/flags/IRN.webp')}
    &--IRQ:before {background-image: url('/themes/custom/wateraid/images/flags/IRQ.webp')}
    &--ISL:before {background-image: url('/themes/custom/wateraid/images/flags/ISL.webp')}
    &--ISR:before {background-image: url('/themes/custom/wateraid/images/flags/ISR.webp')}
    &--ITA:before {background-image: url('/themes/custom/wateraid/images/flags/ITA.webp')}
    &--JAM:before {background-image: url('/themes/custom/wateraid/images/flags/JAM.webp')}
    &--JEY:before {background-image: url('/themes/custom/wateraid/images/flags/JEY.webp')}
    &--JOR:before {background-image: url('/themes/custom/wateraid/images/flags/JOR.webp')}
    &--JPN:before {background-image: url('/themes/custom/wateraid/images/flags/JPN.webp')}
    &--KAZ:before {background-image: url('/themes/custom/wateraid/images/flags/KAZ.webp')}
    &--KEN:before {background-image: url('/themes/custom/wateraid/images/flags/KEN.webp')}
    &--KGZ:before {background-image: url('/themes/custom/wateraid/images/flags/KGZ.webp')}
    &--KHM:before {background-image: url('/themes/custom/wateraid/images/flags/KHM.webp')}
    &--KIR:before {background-image: url('/themes/custom/wateraid/images/flags/KIR.webp')}
    &--KNA:before {background-image: url('/themes/custom/wateraid/images/flags/KNA.webp')}
    &--Kosovo:before {background-image: url('/themes/custom/wateraid/images/flags/Kosovo.webp')}
    &--KWT:before {background-image: url('/themes/custom/wateraid/images/flags/KWT.webp')}
    &--LAO:before {background-image: url('/themes/custom/wateraid/images/flags/LAO.webp')}
    &--LBN:before {background-image: url('/themes/custom/wateraid/images/flags/LBN.webp')}
    &--LBR:before {background-image: url('/themes/custom/wateraid/images/flags/LBR.webp')}
    &--LBY:before {background-image: url('/themes/custom/wateraid/images/flags/LBY.webp')}
    &--LCA:before {background-image: url('/themes/custom/wateraid/images/flags/LCA.webp')}
    &--LIE:before {background-image: url('/themes/custom/wateraid/images/flags/LIE.webp')}
    &--LKA:before {background-image: url('/themes/custom/wateraid/images/flags/LKA.webp')}
    &--LSO:before {background-image: url('/themes/custom/wateraid/images/flags/LSO.webp')}
    &--LTU:before {background-image: url('/themes/custom/wateraid/images/flags/LTU.webp')}
    &--LUX:before {background-image: url('/themes/custom/wateraid/images/flags/LUX.webp')}
    &--LVA:before {background-image: url('/themes/custom/wateraid/images/flags/LVA.webp')}
    &--MAC:before {background-image: url('/themes/custom/wateraid/images/flags/MAC.webp')}
    &--MAF:before {background-image: url('/themes/custom/wateraid/images/flags/MAF.webp')}
    &--MAR:before {background-image: url('/themes/custom/wateraid/images/flags/MAR.webp')}
    &--Mars:before {background-image: url('/themes/custom/wateraid/images/flags/Mars.webp')}
    &--MCO:before {background-image: url('/themes/custom/wateraid/images/flags/MCO.webp')}
    &--MDA:before {background-image: url('/themes/custom/wateraid/images/flags/MDA.webp')}
    &--MDG:before {background-image: url('/themes/custom/wateraid/images/flags/MDG.webp')}
    &--MDV:before {background-image: url('/themes/custom/wateraid/images/flags/MDV.webp')}
    &--MEX:before {background-image: url('/themes/custom/wateraid/images/flags/MEX.webp')}
    &--MHL:before {background-image: url('/themes/custom/wateraid/images/flags/MHL.webp')}
    &--MKD:before {background-image: url('/themes/custom/wateraid/images/flags/MKD.webp')}
    &--MLI:before {background-image: url('/themes/custom/wateraid/images/flags/MLI.webp')}
    &--MLT:before {background-image: url('/themes/custom/wateraid/images/flags/MLT.webp')}
    &--MMR:before {background-image: url('/themes/custom/wateraid/images/flags/MMR.webp')}
    &--MNE:before {background-image: url('/themes/custom/wateraid/images/flags/MNE.webp')}
    &--MNG:before {background-image: url('/themes/custom/wateraid/images/flags/MNG.webp')}
    &--MNP:before {background-image: url('/themes/custom/wateraid/images/flags/MNP.webp')}
    &--MOZ:before {background-image: url('/themes/custom/wateraid/images/flags/MOZ.webp')}
    &--MRT:before {background-image: url('/themes/custom/wateraid/images/flags/MRT.webp')}
    &--MSR:before {background-image: url('/themes/custom/wateraid/images/flags/MSR.webp')}
    &--MTQ:before {background-image: url('/themes/custom/wateraid/images/flags/MTQ.webp')}
    &--MUS:before {background-image: url('/themes/custom/wateraid/images/flags/MUS.webp')}
    &--MWI:before {background-image: url('/themes/custom/wateraid/images/flags/MWI.webp')}
    &--MYS:before {background-image: url('/themes/custom/wateraid/images/flags/MYS.webp')}
    &--MYT:before {background-image: url('/themes/custom/wateraid/images/flags/MYT.webp')}
    &--Nagorno-Karabakh:before {background-image: url('/themes/custom/wateraid/images/flags/Nagorno-Karabakh.webp')}
    &--NAM:before {background-image: url('/themes/custom/wateraid/images/flags/NAM.webp')}
    &--NATO:before {background-image: url('/themes/custom/wateraid/images/flags/NATO.webp')}
    &--NCL:before {background-image: url('/themes/custom/wateraid/images/flags/NCL.webp')}
    &--NER:before {background-image: url('/themes/custom/wateraid/images/flags/NER.webp')}
    &--Netherlands-Antilles:before {background-image: url('/themes/custom/wateraid/images/flags/Netherlands-Antilles.webp')}
    &--NFK:before {background-image: url('/themes/custom/wateraid/images/flags/NFK.webp')}
    &--NGA:before {background-image: url('/themes/custom/wateraid/images/flags/NGA.webp')}
    &--NIC:before {background-image: url('/themes/custom/wateraid/images/flags/NIC.webp')}
    &--NIU:before {background-image: url('/themes/custom/wateraid/images/flags/NIU.webp')}
    &--NLD:before {background-image: url('/themes/custom/wateraid/images/flags/NLD.webp')}
    &--NOR:before {background-image: url('/themes/custom/wateraid/images/flags/NOR.webp')}
    &--North-Korea:before {background-image: url('/themes/custom/wateraid/images/flags/North-Korea.webp')}
    &--Northern-Cyprus:before {background-image: url('/themes/custom/wateraid/images/flags/Northern-Cyprus.webp')}
    &--NPL:before {background-image: url('/themes/custom/wateraid/images/flags/NPL.webp')}
    &--NRU:before {background-image: url('/themes/custom/wateraid/images/flags/NRU.webp')}
    &--NZL:before {background-image: url('/themes/custom/wateraid/images/flags/NZL.webp')}
    &--Olympics:before {background-image: url('/themes/custom/wateraid/images/flags/Olympics.webp')}
    &--OMN:before {background-image: url('/themes/custom/wateraid/images/flags/OMN.webp')}
    &--PAK:before {background-image: url('/themes/custom/wateraid/images/flags/PAK.webp')}
    &--PAN:before {background-image: url('/themes/custom/wateraid/images/flags/PAN.webp')}
    &--PCN:before {background-image: url('/themes/custom/wateraid/images/flags/PCN.webp')}
    &--PER:before {background-image: url('/themes/custom/wateraid/images/flags/PER.webp')}
    &--PHL:before {background-image: url('/themes/custom/wateraid/images/flags/PHL.webp')}
    &--PLW:before {background-image: url('/themes/custom/wateraid/images/flags/PLW.webp')}
    &--PNG:before {background-image: url('/themes/custom/wateraid/images/flags/PNG.webp')}
    &--POL:before {background-image: url('/themes/custom/wateraid/images/flags/POL.webp')}
    &--PRI:before {background-image: url('/themes/custom/wateraid/images/flags/PRI.webp')}
    &--PRT:before {background-image: url('/themes/custom/wateraid/images/flags/PRT.webp')}
    &--PRY:before {background-image: url('/themes/custom/wateraid/images/flags/PRY.webp')}
    &--PSE:before {background-image: url('/themes/custom/wateraid/images/flags/PSE.webp')}
    &--PYF:before {background-image: url('/themes/custom/wateraid/images/flags/PYF.webp')}
    &--QAT:before {background-image: url('/themes/custom/wateraid/images/flags/QAT.webp')}
    &--Red-Cross:before {background-image: url('/themes/custom/wateraid/images/flags/Red-Cross.webp')}
    &--ROU:before {background-image: url('/themes/custom/wateraid/images/flags/ROU.webp')}
    &--RUS:before {background-image: url('/themes/custom/wateraid/images/flags/RUS.webp')}
    &--RWA:before {background-image: url('/themes/custom/wateraid/images/flags/RWA.webp')}
    &--SAU:before {background-image: url('/themes/custom/wateraid/images/flags/SAU.webp')}
    &--Scotland:before {background-image: url('/themes/custom/wateraid/images/flags/Scotland.webp')}
    &--SDN:before {background-image: url('/themes/custom/wateraid/images/flags/SDN.webp')}
    &--SEN:before {background-image: url('/themes/custom/wateraid/images/flags/SEN.webp')}
    &--SGP:before {background-image: url('/themes/custom/wateraid/images/flags/SGP.webp')}
    &--SGS:before {background-image: url('/themes/custom/wateraid/images/flags/SGS.webp')}
    &--SHN:before {background-image: url('/themes/custom/wateraid/images/flags/SHN.webp')}
    &--SLB:before {background-image: url('/themes/custom/wateraid/images/flags/SLB.webp')}
    &--SLE:before {background-image: url('/themes/custom/wateraid/images/flags/SLE.webp')}
    &--SLV:before {background-image: url('/themes/custom/wateraid/images/flags/SLV.webp')}
    &--SMR:before {background-image: url('/themes/custom/wateraid/images/flags/SMR.webp')}
    &--SOM:before {background-image: url('/themes/custom/wateraid/images/flags/SOM.webp')}
    &--Somaliland:before {background-image: url('/themes/custom/wateraid/images/flags/Somaliland.webp')}
    &--South-Korea:before {background-image: url('/themes/custom/wateraid/images/flags/South-Korea.webp')}
    &--South-Ossetia:before {background-image: url('/themes/custom/wateraid/images/flags/South-Ossetia.webp')}
    &--SRB:before {background-image: url('/themes/custom/wateraid/images/flags/SRB.webp')}
    &--SSD:before {background-image: url('/themes/custom/wateraid/images/flags/SSD.webp')}
    &--STP:before {background-image: url('/themes/custom/wateraid/images/flags/STP.webp')}
    &--SUR:before {background-image: url('/themes/custom/wateraid/images/flags/SUR.webp')}
    &--SVK:before {background-image: url('/themes/custom/wateraid/images/flags/SVK.webp')}
    &--SVN:before {background-image: url('/themes/custom/wateraid/images/flags/SVN.webp')}
    &--SWE:before {background-image: url('/themes/custom/wateraid/images/flags/SWE.webp')}
    &--SWZ:before {background-image: url('/themes/custom/wateraid/images/flags/SWZ.webp')}
    &--SYC:before {background-image: url('/themes/custom/wateraid/images/flags/SYC.webp')}
    &--SYR:before {background-image: url('/themes/custom/wateraid/images/flags/SYR.webp')}
    &--TCA:before {background-image: url('/themes/custom/wateraid/images/flags/TCA.webp')}
    &--TCD:before {background-image: url('/themes/custom/wateraid/images/flags/TCD.webp')}
    &--TGO:before {background-image: url('/themes/custom/wateraid/images/flags/TGO.webp')}
    &--THA:before {background-image: url('/themes/custom/wateraid/images/flags/THA.webp')}
    &--TJK:before {background-image: url('/themes/custom/wateraid/images/flags/TJK.webp')}
    &--TKL:before {background-image: url('/themes/custom/wateraid/images/flags/TKL.webp')}
    &--TKM:before {background-image: url('/themes/custom/wateraid/images/flags/TKM.webp')}
    &--TLS:before {background-image: url('/themes/custom/wateraid/images/flags/TLS.webp')}
    &--TON:before {background-image: url('/themes/custom/wateraid/images/flags/TON.webp')}
    &--TTO:before {background-image: url('/themes/custom/wateraid/images/flags/TTO.webp')}
    &--TUN:before {background-image: url('/themes/custom/wateraid/images/flags/TUN.webp')}
    &--TUR:before {background-image: url('/themes/custom/wateraid/images/flags/TUR.webp')}
    &--TUV:before {background-image: url('/themes/custom/wateraid/images/flags/TUV.webp')}
    &--TWN:before {background-image: url('/themes/custom/wateraid/images/flags/TWN.webp')}
    &--TZA:before {background-image: url('/themes/custom/wateraid/images/flags/TZA.webp')}
    &--UGA:before {background-image: url('/themes/custom/wateraid/images/flags/UGA.webp')}
    &--UKN:before {background-image: url('/themes/custom/wateraid/images/flags/UKN.webp')}
    &--UKR:before {background-image: url('/themes/custom/wateraid/images/flags/UKR.webp')}
    &--United-Nations:before {background-image: url('/themes/custom/wateraid/images/flags/United-Nations.webp')}
    &--Unknown:before {background-image: url('/themes/custom/wateraid/images/flags/Unknown.webp')}
    &--URY:before {background-image: url('/themes/custom/wateraid/images/flags/URY.webp')}
    &--US-Virgin-Islands:before {background-image: url('/themes/custom/wateraid/images/flags/US-Virgin-Islands.webp')}
    &--USA:before {background-image: url('/themes/custom/wateraid/images/flags/USA.webp')}
    &--UZB:before {background-image: url('/themes/custom/wateraid/images/flags/UZB.webp')}
    &--Vatican-City:before {background-image: url('/themes/custom/wateraid/images/flags/Vatican-City.webp')}
    &--VCT:before {background-image: url('/themes/custom/wateraid/images/flags/VCT.webp')}
    &--VEN:before {background-image: url('/themes/custom/wateraid/images/flags/VEN.webp')}
    &--VNM:before {background-image: url('/themes/custom/wateraid/images/flags/VNM.webp')}
    &--VUT:before {background-image: url('/themes/custom/wateraid/images/flags/VUT.webp')}
    &--Wales:before {background-image: url('/themes/custom/wateraid/images/flags/Wales.webp')}
    &--WLF:before {background-image: url('/themes/custom/wateraid/images/flags/WLF.webp')}
    &--WSM:before {background-image: url('/themes/custom/wateraid/images/flags/WSM.webp')}
    &--YEM:before {background-image: url('/themes/custom/wateraid/images/flags/YEM.webp')}
    &--ZAF:before {background-image: url('/themes/custom/wateraid/images/flags/ZAF.webp')}
    &--ZMB:before {background-image: url('/themes/custom/wateraid/images/flags/ZMB.webp')}
    &--ZWE:before {background-image: url('/themes/custom/wateraid/images/flags/ZWE.webp')}
  }
}

.utility-navigation--desktop {
  position: relative;
  z-index: 25;

  .utility-navigation__menu-link--site-selector-btn {
    .icon {
      transform: rotate(180deg);
    }
    &[aria-expanded="true"] {
      .icon {
        transform: rotate(0deg);
      }
    }
  }

  .utility-navigation__container {
    background: $wa-cream;
  }

  .site-selector {
    --site-selector-transition-time: 800ms;

    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-120%);
    z-index: -2;
    backface-visibility: hidden;
    visibility: hidden;
    @include wa-transition-motion-flow(transform, var(--site-selector-transition-time));

    &.active {
      transform: translateY(0%);
      visibility: visible;
    }

    .site-selector-panel-animating & {
      visibility: visible;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: transparent url('/themes/custom/wateraid/images/icons/wa-curve-low-cream.svg') bottom center no-repeat;
      background-size: cover;
      height: calculate-rem(56);
    }

    &__inner {
      @include page-container;
    }
    &__panel {
      @include grid;
      padding-top: $wa-spacing-09;
    }
    &__col {
      @include grid-item-span(4, 1, 2);

      &--first {
        @include grid-item(4, 2, 4, 1, 1, 2);
      }
      &:nth-child(2) {
        grid-column: 4/span 1;
        @include desktop {
          grid-column: 6/span 2;
        }
      }
      &:nth-child(3) {
        grid-column: 5/span 1;
        @include desktop {
          grid-column: 8/span 2;
        }
      }
      &:nth-child(4) {
        grid-column: 6/span 1;
        @include desktop {
          grid-column: 10/span 2;
        }
      }
    }
    &__site-group {
      margin-bottom: $wa-spacing-10;
      flex-direction: column;

      &:first-child {
        margin-top: $wa-spacing-00;
      }
      &:last-child {
        margin-bottom: $wa-spacing-00;
      }
    }
  }
}
