@import "./sass/styles";

[data-component-id="wateraid:rich_text"] {
  color: $wa-navy;
  max-width: calculate-rem(660);

  @include paragraph-md();

  .paragraph-lg,
  .paragraph-lg a {
    @include paragraph-lg();
  }

  strong {
    font-family: $bold-font;
  }

  a {
    @include link();

    &.link--text {
      @include text-link();

      align-items: center;
      display: flex;
      gap: $wa-spacing-01;
      &::after {
        content: "";
        display: block;
        background-image: url("/themes/custom/wateraid/images/icons/wa-utility-arrow-blue.svg");
        height: $wa-spacing-06;
        width: $wa-spacing-06;
        align-items: center;
      }
    }
  }

  ol,
  ul {
    padding-left: $wa-spacing-06;
  }

  ul {
    li::marker {
      color: $wa-blue;
    }
  }

  li {
    margin-bottom: $wa-spacing-05;
    padding-left: $wa-spacing-01;
  }

  blockquote {
    @include h5();

    position: relative;
    margin: $wa-spacing-04 0;
    padding-left: $wa-spacing-07;
    padding-top: calculate-rem(6);

    &::before {
      content: "";
      background-image: url("/themes/custom/wateraid/images/icons/wa-icon-quote-mark.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: calculate-rem(28);
      width: calculate-rem(28);
      position: absolute;
      left: 0;
      top: 0;
    }

    p {
      @include h5();

      margin-top: 0;
    }
  }
}
