@import "./sass/styles";

.card {
  position: relative;

  &.card--link::before {
    transition: transform 200ms;
    will-change: transform;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-lg-tall.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &.card--link:hover::before {
    transform: translateX(-$wa-spacing-02) translateY($wa-spacing-02);
    left: 0;
    height: 100%;
    width: 100%;
  }

  &.card--link:hover {
    cursor: pointer;
  }

  &.card--link:focus-within {
    outline: $wa-pink $wa-spacing-01 solid;
    border: $wa-navy $wa-spacing-01 solid;
  }

  &__image img {
    display: block;
    max-width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
  }

  &__body {
    @include paragraph-sm();

    padding: $wa-spacing-04 0;
    display: flex;
    flex-direction: column;
    gap: $wa-spacing-02;
    color: $wa-navy;
  }

  &__heading {
    margin: 0;

    a {
      text-decoration: none;
      color: $wa-navy;

      &:focus-visible {
        outline: none;
      }
    }
  }

  &__date {
    font-family: $bold-font;
  }

  &__authors,
  &__date,
  &__read-time {
    display: flex;
    gap: $wa-spacing-02;
    align-items: center;

    svg {
      color: $wa-blue;
      width: $wa-spacing-06;
      height: $wa-spacing-06;
    }
  }

  &__tags span {
    margin-top: $wa-spacing-01;
  }

  // Card variants.
  &--teaser {
    border: $wa-spacing-01 $wa-white solid;
    height: 100%;
    max-width: 432px;

    &:hover {
      background-color: $wa-white;
    }

    .card__heading {
      @include h6();
      padding-bottom: $wa-spacing-02;
    }

    .card__authors {
      svg {
        width: $wa-spacing-02;
        height: auto;
      }
    }
  }

  &--stats {
    justify-items: center;
    padding: $wa-spacing-06;
    height: 100%;

    &.card--link:hover::before {
      transform: translateX(-$wa-spacing-04) translateY(-$wa-spacing-02);
    }

    .card__image img {
      width: calculate-rem(144);
      height: calculate-rem(144);
    }

    .card__body {
      align-items: center;
      text-align: center;
      gap: $wa-spacing-04;
    }

    .card__link {
      padding-top: $wa-spacing-02;
    }

    .link--text:hover {
      text-decoration: none;
    }
  }

  &--signposting {
    background-color: $wa-white;

    .card__body {
      padding: $wa-spacing-06;
    }

    &.card--large {
      @include desktop() {
        @include grid();

        &__image,
        &__body {
          @include grid-item-span(4, 6, 6);
          align-self: center;
          padding-left: 0;
        }
        &__description {
          @include paragraph-md();
        }
      }
    }
  }

  // Colour variants.
  &--cream {
    background-color: $wa-cream;
    color: $wa-navy;
  }

  &--white {
    background-color: $wa-white;
    color: $wa-navy;
  }

  &--navy {
    background-color: $wa-navy;
    color: $wa-white;

    h3,
    a,
    .card__body {
      color: $wa-white;
    }

    .card__image {
      filter: brightness(0) invert(1);
    }
  }

  &--blue {
    background-color: $wa-blue;

    h3,
    a,
    .card__body {
      color: $wa-white;
    }

    .card__image {
      filter: brightness(0) invert(1);
    }
  }
}

.paragraph--type--stats-item {
  height: 100%;
}
