@import "../../sass/base";

.button {
  position: relative;
  border: none;
  background: none;
  z-index: 2;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &:focus-visible {
    outline: $wa-pink $wa-spacing-01 solid;
    border: none;
    background: none;
  }

  &:hover {
    cursor: pointer;
  }

  &__wrapper {
    height: 100%;
    width: fit-content;
    position: relative;

    .button__hover {
      z-index: -1;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      display: block;
      top: 0;
    }

    &--primary,
    &--secondary,
    &--donate,
    &--primary-meganav-donate-menu-parent {
      .button__hover {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
      }
    }

    &--icon,
    &--icon-small {
      .button__hover {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-navy.svg");
      }
    }

    &--social {
      .button__hover {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-white.svg");
        z-index: 0;
      }
    }

    &--menu {
      .button__hover {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-square.svg");
      }
    }
  }

  &--primary,
  &--secondary,
  &--donate,
  &--primary-meganav-donate-menu-parent {
    font-size: calculate-rem(24);
    font-family: "Noto Sans Bold";
    padding: $wa-spacing-03 $wa-spacing-04;
    display: flex;
    gap: $wa-spacing-02;
    align-items: center;
    max-width: fit-content;
    color: $wa-white;
    text-decoration: none;
    transition: 200ms;

    &:hover {
      transform: translateX($wa-spacing-02) translateY(-$wa-spacing-02);
    }
  }

  &--primary {
    color: $wa-blue;

    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide.svg");
    }

    &.button--dark::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-white.svg");
    }

    &.button--light {
      color: $wa-white;
    }
  }

  &--secondary {
    color: $wa-white;

    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-light.svg");
    }

    &.button--dark::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-dark.svg");
    }

    &.button--light {
      color: $wa-blue;
    }
  }

  &--donate,
  &--primary-meganav-donate-menu-parent {
    color: $wa-lime;

    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
    }

    &:hover {
      color: $wa-navy;

      &::after {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-donate.svg");
      }
    }
  }

  &--icon,
  &--icon-small,
  &--social {
    display: flex;
    height: $wa-spacing-09;
    width: $wa-spacing-09;
    color: $wa-white;
    z-index: 10;
    align-items: center;
    justify-content: center;
    transition: transform 200ms;
    will-change: transform;

    &:hover {
      transform: translateX($wa-spacing-01) translateY(-$wa-spacing-01);
    }

    &:focus-visible {
      outline: $wa-pink $wa-spacing-01 solid;
      border: $wa-navy $wa-spacing-01 solid;
      border-radius: 100%;
      background: none;
    }
  }

  &--icon {
    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle.svg");
    }

    &.button--dark {
      color: $wa-blue;

      &::after {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-white.svg");
      }
    }
  }

  &--social {
    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-border.svg");
    }

    &:focus-visible {
      border: none;

      &::after {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-navy.svg");
      }
    }
  }

  &--icon-small {
    height: $wa-spacing-06;
    width: $wa-spacing-06;
    color: $wa-blue;
    padding: 0;

    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-white.svg");
    }

    &:hover {
      cursor: pointer;
      transform: translateX(2px) translateY(-2px);

      &::after {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-cream.svg");
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 8px $wa-pink;
      outline: $wa-navy 4px solid;
      border: none;
    }

    .button__svg {
      height: 16px;
      width: 16px;
    }
  }

  &--menu {
    padding: $wa-spacing-03;
    color: $wa-blue;
    text-decoration: none;
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-square-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 200ms;
    height: calculate-rem(58);
    width: calculate-rem(58);
    display: flex;
    justify-content: center;
    align-content: center;

    &:hover {
      transform: translateX($wa-spacing-02) translateY(-$wa-spacing-02);
    }

    .icon {
      display: block;
      width: $wa-spacing-06;
      margin-top: calculate-rem(5);

      svg {
        fill: currentColor;
        max-width: 100%;
        aspect-ratio: 1;
      }

      &__menu-button-close {
        display: none;
      }
    }

    .primary-menu-open & {
      .icon__menu-button-open {
        display: none;
      }

      .icon__menu-button-close {
        display: block;
      }
    }

    &:focus-visible {
      background: url("/themes/custom/wateraid/images/icons/wa-container-sm-square-white.svg") $wa-white no-repeat;
      background-size: contain;
    }
  }

  &--primary-meganav-donate-menu-parent {
    .icon {
      display: block;
      width: $wa-spacing-06;
      transform: rotate(180deg);
      pointer-events: none;
      @include wa-transition-motion-flow(transform, 0.2s);

      svg {
        fill: currentColor;
        max-width: 100%;
        aspect-ratio: 1.1;
      }
    }

    &[aria-expanded="true"] {
      .icon {
        transform: rotate(0deg);
      }
    }
  }

  &--search-btn {
    .icon {
      width: $wa-spacing-06;

      svg {
        aspect-ratio: 1;
      }
    }

  }

  &__svg {
    text-align-last: center;

    svg {
      vertical-align: middle;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      .button {
        transform: none;
        cursor: default;
      }

      .button__hover {
        display: none;
      }
    }
  }
  svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
  }
}
