@import "./sass/styles";

.m-text-media {
  @include grid();
  gap: $wa-spacing-07;
  @include tablet {
    gap: $wa-spacing-06
  }

  &__text,
  &__media {
    @include grid-item-span(
      $col-span-mobile: $grid-cols-mobile,
      $col-span-tablet: 3,
      $col-span-desktop: 6
    );
  }

  &__media {
    margin: 0;
    img {
      width: 100%;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      background-color: $wa-cream;
      padding: $wa-spacing-03;
    }

    &--caption {
      color: $wa-navy;
      @include font-size(16, 24);
    }

    &--credit {
      color: $wa-navy-80;
      @include font-size(14, 21);
    }
  }

  &--image_left {
    .m-text-media__media {
      // ...target the child media element and apply the order property to it.
      order: -1;
    }
  }
}
