@import "./sass/base";

$header-padding-bottom: 0;

.site-header {
  position: relative;
  z-index: 1;

  @include tablet {
    padding-bottom: $header-padding-bottom;
  }

  &__colour-wrapper {
    background: $white;
    width: 100vw;

    padding-top: $wa-spacing-05;
    padding-bottom: $wa-spacing-06;
  }

  &__container {
    @include page-container;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    width: calculate-rem(104);
    padding-bottom: $wa-spacing-03;

    @include tablet {
      width: calculate-rem(200);
      padding: $wa-spacing-04 0;
    }
    &-link {
      display: block;
    }
    &-image {
      fill: currentColor;
      color: $wa-blue;
      max-width: 100%;
      aspect-ratio: 3.2;
      display: block;
      @include wa-transition-motion-flow(all, 0.2s)
    }
    @include tablet {
      margin: 0;
    }
  }

  &__mobile-actions {
    position: absolute;
    top: 20px;
    right: $container-padding-mobile;
    left: calc(100vw - 85px);
    z-index: 1;

    @include tablet {
      display: none;
    }
  }


  &__open-close-mobile-menu-btn {
    @include tablet {
      display: none;
    }
  }

  @include tablet-down {
    .site-header__colour-wrapper {
      @include wa-transition-motion-flow(background-color, 0.4s);
    }

    &[data-mobile-menu-level-active='2'] {
      .site-header__colour-wrapper {
        background-color: $wa-blue;
      }
      .site-header__logo-image {
        color: $wa-white;
      }
    }

    &[data-mobile-menu-level-active='3'] {
      .site-header__colour-wrapper {
        background-color: $wa-navy;
      }
      .site-header__logo-image {
        color: $wa-white;
      }
    }

    &[data-mobile-menu-level-active='site-selector'] {
      .site-header__colour-wrapper {
        background-color: $wa-cream;
      }
      .site-header__logo-image {
      }
    }
  }

}
