<header role="banner" {{ attributes.addClass(['site-header', 'js-site-header']).setAttribute('role', 'banner') }}>

  <div class="site-header__utility">

  </div>

  <div class="site-header__main">
    <div class="site-header__colour-wrapper">

      <div class="site-header__container">

        <div class="site-header__logo">
          <a href="/" class="site-header__logo-link">
            <svg class="site-header__logo-image">
              <use href="{{ get_spritemap() }}#wateraid-logo" aria-label="Wateraid logo" />
            </svg>
          </a>
        </div>

        <button type="button" class="site-header__open-close-mobile-menu-btn js-menu-open-close-btn">Show/hide menu</button>

        {{ include ('wateraid:primary_navigation', {
          menu: primary_menu
        }, false) }}

      </div>
    </div>
  </div>
</header>
