@import "./sass/base";

$header-padding-bottom: $wa-spacing-04;

.site-header {
  position: relative;
  z-index: 1;

  @include tablet {
    padding-bottom: $header-padding-bottom;
  }

  &__colour-wrapper {
    background: $white;
  }

  &__container {
    @include page-container;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    width: calculate-rem(104);

    @include tablet {
      width: calculate-rem(200);
      padding: $wa-spacing-04 0;
    }
    &-link {
      display: block;
    }
    &-image {
      fill: currentColor;
      color: $wa-blue;
      max-width: 100%;
      aspect-ratio: 3.2;
      display: block;
      @include wa-transition-motion-flow(all, 0.2s)
    }
  }


  &__open-close-mobile-menu-btn {
    @include tablet {
      display: none;
    }
  }

  @include tablet-down {

    &[data-menu-level-active='2'] {
      .site-header__colour-wrapper {
        background: $wa-blue;
      }
      .site-header__logo-image {
        color: $wa-white;
      }
    }

    &[data-menu-level-active='3'] {
      .site-header__colour-wrapper {
        background: $wa-navy;
      }
      .site-header__logo-image {
        color: $wa-white;
      }
    }
  }

}


