@import "./sass/base";

$header-padding-bottom: 0;

.site-header {
  position: relative;
  z-index: 15;

  @include tablet {
    padding-bottom: $header-padding-bottom;
  }

  &__colour-wrapper {
    background: $white;
    width: 100vw;
  }

  &__container {
    @include page-container;
    display: flex;
    justify-content: space-between;
    padding-top: $wa-spacing-03;
    padding-bottom: $wa-spacing-03;
    @include tablet {
      padding-top: $wa-spacing-05;
      padding-bottom: $wa-spacing-06;
    }
  }

  &__main {
    overflow: hidden;
  }

  &__logo {
    width: calculate-rem(140);
    padding: 0 $wa-spacing-03 $wa-spacing-03 0;

    @include tablet {
      width: calculate-rem(200);
      padding: $wa-spacing-04 0;
      z-index: 20;
    }

    &-link {
      display: block;
    }

    &-image {
      fill: currentColor;
      color: $wa-blue;
      max-width: 100%;
      aspect-ratio: 3.2;
      display: block;
      @include wa-transition-motion-flow(all, 0.2s)
    }

    @include tablet {
      margin: 0;
    }
  }

  .primary-navigation {
    position: absolute;

    @include tablet {
      position: static;
    }
  }

  &__mobile-actions {
    display: flex;
    gap: $wa-spacing-03;
    margin-right: calculate-rem(10);

    @include tablet {
      display: none;
    }

    .button__hover {
      z-index: 0;
    }
  }

  &__mobile-donate-btn {
    padding-left: $wa-spacing-06;
    padding-right: $wa-spacing-06;
  }


  &__open-close-mobile-menu-btn {
    @include tablet {
      display: none;
    }
  }

  @include tablet-down {
    .site-header__colour-wrapper {
      @include wa-transition-motion-flow(background-color, 0.4s);
    }

    .button--donate:after {
      min-height: 58px;;
    }

    &[data-mobile-menu-level-active='2'] {
      .site-header__colour-wrapper {
        background-color: $wa-blue;
      }

      .site-header__logo-image {
        color: $wa-white;
      }

      .mobile-nav__search {
        background-image: linear-gradient(transparent, $wa-blue, $wa-blue);
      }

      .button--menu {
        color: $wa-white;
        &:after {
          background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-square-blue.svg");
        }
      }

      .button--search-btn {
        color: $wa-white;
        &:after {
          background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-dark.svg");
        }
      }
    }

    &[data-mobile-menu-level-active='3'] {
      .site-header__colour-wrapper {
        background-color: $wa-navy;
      }

      .site-header__logo-image {
        color: $wa-white;
      }

      .mobile-nav__search {
        background-image: linear-gradient(transparent, $wa-navy, $wa-navy);
      }

      .button--menu {
        color: $wa-white;
        &:after {
          background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-square-navy.svg");
        }
      }

      .button--search-btn {
        color: $wa-white;
        &:after {
          background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-navy.svg");
        }
      }

      .button--donate {
        color: $wa-navy;
        &:after {
          background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-lime.svg");
        }
      }
    }

    &[data-mobile-menu-level-active='site-selector'] {
      .site-header__colour-wrapper {
        background-color: $wa-cream;
      }
      .mobile-nav__search {
        background-image: linear-gradient(transparent, $wa-cream, $wa-cream);
      }
    }
  }

  &__primary-navigation {
    gap: $wa-spacing-05;
    align-self: end;
    display: none;
    @include tablet {
      display: inline-flex;
      z-index: 1;
    }
  }

  &__toggle-desktop-menu-btn {
    align-self: end;
  }

  &--minimal {
    .site-header__logo-image {
      max-height: $wa-spacing-08;
    }
  }
}

