@import "../../../sass/base";

.inactivity-modal {
  display: none;

  &.open {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 20;
    overflow: auto;
    flex-flow: row wrap;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: calculate-rem(1113);
    padding: 1rem 1.25rem;
    margin: auto;
  }

  &__image {
    width: 100%;
    order: 1;
    @include tablet {
      width: 50%;
      order: 0;
    }

    .image {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 100%;
      margin-top: 0;
    }

    .image__wrapper {
      display: flex;
    }
    .image__content div {
      width: 100%;
      aspect-ratio: 350 / 281;
      @include tablet {
        height: 100%;
        aspect-ratio: unset;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    display: flex;
    gap: $wa-spacing-06;
    flex-direction: column;
    background-color: $wa-blue;
    padding: calculate-rem(44) $wa-spacing-06;
    grid-row: 1;
    @include tablet {
      width: 50%;
    }
    .button__wrapper {
      width: 100%;
      @include tablet {
        width: fit-content;
      }
      a {
        display: block;
        max-width: 100%;
        text-align: center;
      }
    }
  }

  &__close {
    position: absolute;
    right: $wa-spacing-03;
    top: $wa-spacing-03;
  }

  &__title {
    color: $wa-white;
    margin: 0;
  }

  &__copy {
    color: $wa-white;

    @include paragraph-lg;

    p {
      margin: 0;
    }
  }

  &__cta {
    z-index: 1;
  }

  &-open {
    position: fixed;
    overflow: hidden;
  }
}

html.modal-open,
html.modal-open body {
  height: 100vh;
  overflow: hidden;
}
