<form
  class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form js-webform-disable-autosubmit js-webform-details-toggle webform-details-toggle contextual-region"
  novalidate="novalidate" data-drupal-selector="webform-submission-contact-add-form" action="/form/contact"
  method="post" id="webform-submission-contact-add-form" accept-charset="UTF-8"
  data-once="form-updated webform-details-toggle"
  data-drupal-form-fields="edit-name,edit-textarea-example,edit-email,edit-telephone-number,edit-message,edit-select-field-example,edit-age,edit-checkboxes-example-sunday,edit-checkboxes-example-monday,edit-checkboxes-example-tuesday,edit-checkboxes-example-wednesday,edit-checkboxes-example-thursday,edit-checkboxes-example-friday,edit-checkboxes-example-saturday,edit-radios-example-sunday,edit-radios-example-monday,edit-radios-example-tuesday,edit-radios-example-wednesday,edit-radios-example-thursday,edit-radios-example-friday,edit-radios-example-saturday,edit-actions-wizard-next">

  <div data-webform-key="page_1" data-drupal-selector="edit-page-1" id="edit-page-1"
       class="js-form-wrapper form-wrapper">
    <div
      class="js-webform-type-textfield webform-type-textfield js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
      <div class="form-item__label-container">


        <label for="edit-name" class="js-form-required form-required">Your Name</label>

      </div>
      <div class="description">
        <div id="edit-name--description" class="webform-element-description">This is the help text description.</div>

      </div>
      <input data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name"
             name="name" value="endre.soo@manifesto.co.uk" size="60" maxlength="255" class="form-text required"
             required="required" aria-required="true" data-once="webform-disable-autosubmit">

      <div data-lastpass-icon-root=""
           style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;">
        <template shadowrootmode="closed">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
               data-lastpass-icon="true"
               style="position: absolute; cursor: pointer; height: 22px; max-height: 22px; width: 22px; max-width: 22px; top: 16px; left: 621px; z-index: auto; color: rgb(215, 64, 58);">
            <rect x="0.680176" y="0.763062" width="22.6392" height="22.4737" rx="4" fill="currentColor"></rect>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.7935 7.9516C19.7935 7.64414 20.0427 7.3949 20.3502 7.3949C20.6576 7.3949 20.9069 7.64414 20.9069 7.9516V16.0487C20.9069 16.3562 20.6576 16.6054 20.3502 16.6054C20.0427 16.6054 19.7935 16.3562 19.7935 16.0487V7.9516Z"
                  fill="white"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M4.76288 13.6577C5.68525 13.6577 6.43298 12.9154 6.43298 11.9998C6.43298 11.0842 5.68525 10.3419 4.76288 10.3419C3.8405 10.3419 3.09277 11.0842 3.09277 11.9998C3.09277 12.9154 3.8405 13.6577 4.76288 13.6577Z"
                  fill="white"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10.3298 13.6577C11.2521 13.6577 11.9999 12.9154 11.9999 11.9998C11.9999 11.0842 11.2521 10.3419 10.3298 10.3419C9.4074 10.3419 8.65967 11.0842 8.65967 11.9998C8.65967 12.9154 9.4074 13.6577 10.3298 13.6577Z"
                  fill="white"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.8964 13.6577C16.8188 13.6577 17.5665 12.9154 17.5665 11.9998C17.5665 11.0842 16.8188 10.3419 15.8964 10.3419C14.974 10.3419 14.2263 11.0842 14.2263 11.9998C14.2263 12.9154 14.974 13.6577 15.8964 13.6577Z"
                  fill="white"></path>
          </svg>
        </template>
      </div>
    </div>

    <div
      class="js-webform-type-textarea webform-type-textarea js-form-item form-item js-form-type-textarea form-item-textarea-example js-form-item-textarea-example">
      <div class="form-item__label-container">


        <label for="edit-textarea-example">Textarea example</label>
        <span class="optional">(optional)</span>

      </div>
      <div class="description">
        <div id="edit-textarea-example--description" class="webform-element-description">This is the description</div>

      </div>
      <div>
        <textarea data-drupal-selector="edit-textarea-example" aria-describedby="edit-textarea-example--description"
                  id="edit-textarea-example" name="textarea_example" rows="5" cols="60"
                  class="form-textarea"></textarea>
      </div>

    </div>

    <div
      class="js-webform-type-email webform-type-email js-form-item form-item js-form-type-email form-item-email js-form-item-email">
      <div class="form-item__label-container">


        <label for="edit-email" class="js-form-required form-required">Your Email</label>

      </div>
      <div class="description">
        <div id="edit-email--description" class="webform-element-description">This is the description.</div>

      </div>
      <input data-drupal-selector="edit-email" aria-describedby="edit-email--description" type="email" id="edit-email"
             name="email" value="endre.soo@manifesto.co.uk" size="60" maxlength="254" class="form-email required"
             required="required" aria-required="true" data-once="webform-disable-autosubmit">

    </div>

    <div
      class="js-webform-type-tel webform-type-tel js-form-item form-item js-form-type-tel form-item-telephone-number js-form-item-telephone-number">
      <div class="form-item__label-container">


        <label for="edit-telephone-number">Telephone number</label>
        <span class="optional">(optional)</span>

      </div>
      <div class="description">
        <div id="edit-telephone-number--description" class="webform-element-description">This is the description</div>

      </div>
      <input data-drupal-selector="edit-telephone-number" aria-describedby="edit-telephone-number--description"
             type="tel" id="edit-telephone-number" name="telephone_number" value="" size="30" maxlength="128"
             class="form-tel" data-once="webform-disable-autosubmit">

    </div>

    <div
      class="js-webform-type-textarea webform-type-textarea js-form-item form-item js-form-type-textarea form-item-message js-form-item-message">
      <div class="form-item__label-container">


        <label for="edit-message" class="js-form-required form-required">Message</label>

      </div>
      <div class="description">
        <div id="edit-message--description" class="webform-element-description">This is the description.</div>

      </div>
      <div>
        <textarea data-drupal-selector="edit-message" aria-describedby="edit-message--description" id="edit-message"
                  name="message" rows="5" cols="60" class="form-textarea required" required="required"
                  aria-required="true"></textarea>
      </div>

    </div>

    <div
      class="js-webform-type-select webform-type-select js-form-item form-item js-form-type-select form-item-select-field-example js-form-item-select-field-example">
      <div class="form-item__label-container">


        <label for="edit-select-field-example">Select field example</label>
        <span class="optional">(optional)</span>

      </div>
      <div class="description">
        <div id="edit-select-field-example--description" class="webform-element-description">This is the description.
        </div>

      </div>
      <select data-drupal-selector="edit-select-field-example" aria-describedby="edit-select-field-example--description"
              id="edit-select-field-example" name="select_field_example" class="form-select">
        <option value="" selected="selected">- None -</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
    </div>
    <fieldset data-drupal-selector="edit-checkboxes-example"
              aria-describedby="edit-checkboxes-example--wrapper--description" id="edit-checkboxes-example--wrapper"
              class="checkboxes--wrapper fieldgroup form-composite webform-composite-visible-title js-webform-type-checkboxes webform-type-checkboxes js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
        <span class="fieldset-legend">Checkboxes example</span>
        <span class="optional">(optional)</span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="description">
          <div id="edit-checkboxes-example--wrapper--description" data-drupal-field-elements="description"
               class="webform-element-description">This is the description
          </div>
        </div>
        <div id="edit-checkboxes-example"
             class="js-webform-checkboxes webform-options-display-one-column form-checkboxes">
          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-sunday js-form-item-checkboxes-example-sunday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-sunday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-sunday" name="checkboxes_example[Sunday]" value="Sunday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-sunday" class="option">Sunday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-monday js-form-item-checkboxes-example-monday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-monday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-monday" name="checkboxes_example[Monday]" value="Monday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-monday" class="option">Monday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-tuesday js-form-item-checkboxes-example-tuesday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-tuesday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-tuesday" name="checkboxes_example[Tuesday]" value="Tuesday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-tuesday" class="option">Tuesday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-wednesday js-form-item-checkboxes-example-wednesday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-wednesday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-wednesday" name="checkboxes_example[Wednesday]" value="Wednesday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-wednesday" class="option">Wednesday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-thursday js-form-item-checkboxes-example-thursday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-thursday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-thursday" name="checkboxes_example[Thursday]" value="Thursday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-thursday" class="option">Thursday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-friday js-form-item-checkboxes-example-friday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-friday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-friday" name="checkboxes_example[Friday]" value="Friday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-friday" class="option">Friday</label>

          </div>

          <div
            class="js-webform-type-checkbox webform-type-checkbox js-form-item form-item js-form-type-checkbox form-item-checkboxes-example-saturday js-form-item-checkboxes-example-saturday">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-checkboxes-example-saturday"
                   aria-describedby="edit-checkboxes-example--wrapper--description" type="checkbox"
                   id="edit-checkboxes-example-saturday" name="checkboxes_example[Saturday]" value="Saturday"
                   class="form-checkbox" data-once="webform-disable-autosubmit">


            <label for="edit-checkboxes-example-saturday" class="option">Saturday</label>

          </div>
        </div>

      </div>
    </fieldset>
    <fieldset data-drupal-selector="edit-radios-example" aria-describedby="edit-radios-example--wrapper--description"
              id="edit-radios-example--wrapper"
              class="radios--wrapper fieldgroup form-composite webform-composite-visible-title js-webform-type-radios webform-type-radios js-form-item form-item js-form-wrapper form-wrapper"
              data-once="webform-radios-required">
      <legend id="edit-radios-example--wrapper-legend">
        <span class="fieldset-legend">Radios example</span>
        <span class="optional">(optional)</span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="description">
          <div id="edit-radios-example--wrapper--description" data-drupal-field-elements="description"
               class="webform-element-description">Description example
          </div>
        </div>
        <div id="edit-radios-example" class="js-webform-radios webform-options-display-one-column">
          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-sunday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-sunday" name="radios_example" value="Sunday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-sunday" class="option">Sunday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-monday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-monday" name="radios_example" value="Monday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-monday" class="option">Monday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-tuesday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-tuesday" name="radios_example" value="Tuesday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-tuesday" class="option">Tuesday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-wednesday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-wednesday" name="radios_example" value="Wednesday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-wednesday" class="option">Wednesday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-thursday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-thursday" name="radios_example" value="Thursday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-thursday" class="option">Thursday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-friday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-friday" name="radios_example" value="Friday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-friday" class="option">Friday</label>

          </div>

          <div
            class="js-webform-type-radio webform-type-radio js-form-item form-item js-form-type-radio form-item-radios-example js-form-item-radios-example">
            <div class="form-item__label-container">
            </div>
            <input data-drupal-selector="edit-radios-example-saturday"
                   aria-describedby="edit-radios-example--wrapper--description" type="radio"
                   id="edit-radios-example-saturday" name="radios_example" value="Saturday" class="form-radio"
                   data-once="webform-disable-autosubmit">


            <label for="edit-radios-example-saturday" class="option">Saturday</label>

          </div>
        </div>

      </div>
    </fieldset>
  </div>
</form>
