{# web/themes/custom/wateraid/components/quote.stories.twig #}
{% stories spend with { title: 'wateraid/Molecules/Spend' } %}

  {% story Default with {
    name: 'Default',
    args: {
      title: 'Title',
      copy: 'Lorem ipsum dolor sit amet consectetur. Vitae sit dui volutpat cursus ut ultrices pellentesque et sit.',
      sg_1_figure: '73p',
      sg_1_title: 'is spent on making change happen',
      sg_2_figure: '27p',
      sg_2_title: 'is spent on fundraising',
    }
  } %}

    {% set sg_1_copy %}
      <p>28p supporting local partners to deliver sustainable solutions</p>
      <p>23p strengthening local and national capacity to deliver services</p>
      <p>16p influencing policy in water, sanitation and hygiene</p>
      <p>6p supporting WaterAid globally</p>
    {% endset %}
    {% set sg_2_copy %}
      <p>Generating future income so together, we can keep changing the world through water.</p>
    {% endset %}

    {{ include('wateraid:spend', {
      title,
      copy,
      sg_1_figure,
      sg_1_title,
      sg_1_copy,
      sg_2_figure,
      sg_2_title,
      sg_2_copy
    }) }}
  {% endstory %}

{% endstories %}
