<header role="banner" {{ attributes.addClass(['site-header-donate']).setAttribute('role', 'banner') }}>

  <div class="site-header__main">
    <div class="site-header__colour-wrapper">

      <div class="site-header__container">

        <div class="site-header__logo">
          <a href="{{ home_page_url }}" class="site-header__logo-link">
            <svg class="site-header__logo-image">
              <use href="{{ get_spritemap() }}#wateraid-logo" aria-label="Wateraid logo" />
            </svg>
          </a>
        </div>

        {% if donate_header_menu %}
          <div class="site-header__donate-header-menu">
            {{ donate_header_menu }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</header>
