@import "./sass/base";

.site-header-donate {

  .site-header {

    &__colour-wrapper {
      background: $white;
      width: 100vw;

      padding-top: $wa-spacing-05;
      padding-bottom: $wa-spacing-06;
    }

    &__container {
      @include page-container;

      @include tablet {
        display: flex;
        justify-content: space-between;
      }
    }

    &__main {
      overflow: hidden;
    }

    &__logo {
      width: calculate-rem(104);
      padding-bottom: $wa-spacing-03;

      @include tablet {
        width: calculate-rem(200);
        padding: $wa-spacing-04 0;
      }

      &-link {
        display: block;
      }

      &-image {
        fill: currentColor;
        color: $wa-blue;
        max-width: 100%;
        aspect-ratio: 3.2;
        display: block;
        @include wa-transition-motion-flow(all, 0.2s)
      }

      @include tablet {
        margin: 0;
      }
    }
  }
}
