<div class="number-input">
  <div class="number-input-wrapper">
    <input{{ attributes }} />{{ children }}
    <div class="number-input__buttons">
      <button class="number-input__button number-input__button--decrement" type="button" aria-label="Decrease value">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19.5939 10.5079C19.5427 10.5066 19.4915 10.5062 19.4419 10.5059C19.3027 10.5052 19.1619 10.5045 19.0227 10.504C18.7074 10.5025 18.3906 10.5015 18.0738 10.5008C17.9186 10.5006 4.39625 10.5007 4.24104 10.5007C3.96743 10.5007 3.98983 10.5061 4.02023 10.5726C4.07784 10.7002 4.14024 10.8276 4.14184 10.9554C4.14344 11.0617 4.15304 11.1677 4.13544 11.274C4.11304 11.4033 4.13384 11.5316 4.14184 11.6609C4.16904 12.0563 4.15784 12.4521 4.06664 12.8472C4.02023 13.0455 4.00263 13.2438 4.00103 13.4421C4.00103 13.4813 3.96903 13.501 4.26185 13.5007C4.84588 13.5004 18.7122 13.4937 19.2947 13.4878C19.6579 13.4833 19.7395 13.4892 19.7843 13.4691C19.8163 13.4546 19.8275 13.4333 19.8387 13.418C20.0579 13.1172 19.9939 12.8126 19.9827 12.5103C19.9779 12.3979 19.9747 12.2858 19.9699 12.1734C19.9603 11.9071 19.9507 11.6409 19.9363 11.3748C19.9363 11.2747 19.9251 11.1748 19.9187 11.0747C19.9123 10.9741 19.9059 10.8737 19.8979 10.7731C19.8931 10.7029 19.9027 10.6328 19.8883 10.5587C19.8819 10.5265 19.7795 10.5123 19.5923 10.5076"
            fill="#006BD9"/>
        </svg>
      </button>
      <button class="number-input__button number-input__button--increment" type="button" aria-label="Increase value">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.5108 4.01736C12.8129 4.00613 13.1174 3.94203 13.418 4.16092C13.4332 4.17208 13.4543 4.18381 13.4688 4.2156C13.4889 4.26041 13.4829 4.34262 13.4873 4.70584C13.4898 4.95298 13.4901 7.53955 13.4922 10.5008C15.9818 10.5009 18.0146 10.5016 18.0743 10.5017C18.3909 10.5025 18.7075 10.5032 19.0225 10.5047C19.1617 10.5052 19.3032 10.5059 19.4424 10.5066L19.5928 10.5086C19.7798 10.5132 19.8823 10.5272 19.8887 10.5594C19.9031 10.6334 19.8937 10.7041 19.8985 10.7742C19.9064 10.8745 19.9126 10.9746 19.919 11.075C19.9254 11.1751 19.9366 11.2756 19.9366 11.3758C19.9509 11.6415 19.9602 11.9076 19.9698 12.1736C19.9746 12.2859 19.9777 12.3983 19.9825 12.5105C19.9937 12.8129 20.0581 13.1179 19.8389 13.4187C19.8277 13.4339 19.8162 13.4551 19.7842 13.4695C19.7394 13.4895 19.6576 13.4837 19.295 13.4881C19.0502 13.4905 16.4593 13.4899 13.4942 13.492C13.4961 16.6377 13.4999 19.4793 13.5 19.7381C13.5003 20.0309 13.4807 19.9988 13.4414 19.9988C13.2433 19.9972 13.0449 19.9798 12.8467 19.9334C12.4517 19.8422 12.0555 19.831 11.6602 19.8582C11.531 19.8662 11.4027 19.8874 11.2735 19.865C11.1672 19.8474 11.0613 19.8566 10.9551 19.8582C10.8273 19.8598 10.6999 19.9227 10.5723 19.9803C10.506 20.0106 10.5 20.032 10.5 19.7586C10.5 19.6757 10.5 16.6783 10.5 13.4949C7.35691 13.4967 4.51915 13.4997 4.26175 13.4998C3.96927 13.5 4.00101 13.4804 4.00101 13.4412C4.00262 13.243 4.02007 13.0446 4.06644 12.8465C4.15757 12.4516 4.1688 12.0561 4.14163 11.6609C4.13363 11.5316 4.11338 11.4025 4.13577 11.2732C4.15331 11.1671 4.14324 11.061 4.14163 10.9549C4.14 10.827 4.07813 10.6996 4.02054 10.572C3.99014 10.5056 3.96764 10.4998 4.24124 10.4998C4.31519 10.4998 7.31373 10.4996 10.5 10.4998C10.5001 8.01824 10.5009 5.99277 10.501 5.92654C10.5017 5.60972 10.5025 5.29254 10.5039 4.97732C10.5044 4.83821 10.5052 4.69749 10.5059 4.55838L10.5078 4.40799C10.5125 4.22103 10.5266 4.11874 10.5586 4.11209C10.6327 4.09769 10.7033 4.10712 10.7735 4.10232C10.874 4.09433 10.9747 4.08723 11.0752 4.08084C11.1752 4.07443 11.2751 4.06326 11.375 4.06326C11.641 4.04887 11.9077 4.03965 12.1739 4.03006C12.2861 4.02527 12.3985 4.02215 12.5108 4.01736Z"
                fill="#006BD9"/>
        </svg>
      </button>
    </div>
  </div>
</div>
