@import "./sass/styles";

.number-input {
  width: 100%;

  &-wrapper {
    position: relative;
    display: flex;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: -65px;
    padding: 10px 0;
  }

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    z-index: 1;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &:disabled:hover {
      background-color: transparent;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &--decrement {
      border-right: 1px solid $wa-navy-10;
    }
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%;
    height: 50px;
    padding: 0 50px;
    border-radius: $radius-xxs;
    font-size: 1.1rem;
    font-weight: 600;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
