<div {{ attributes }}>
  <div class="language-switcher">
    <button class="language-switcher__btn js-language-switcher-trigger">{{ 'Language'|t }}</button>
    <div class="language-switcher__dropdown js-language-switcher-dropdown">
      {{ content }}
    </div>
  </div>

</div>
