@import "../../sass/base";

.text-over-media {
  position: relative;
  margin-top: $wa-spacing-07;
  @include desktop {
    margin-top: $wa-spacing-09;
  }

  &__wrapper {
    @include desktop {
      min-height: 720px;
      backface-visibility: hidden;
      clip-path: inset(0 0 0 0);
      position: relative;
      display: flex;
    }
  }

  &__background {
    @include desktop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      display: block;
      @include desktop {
        position: fixed;
        top: 0;
        right: 0;
        -o-object-position: center;
        object-position: center;
        object-fit: cover;
        z-index: 0;
      }
    }
  }

  &__content-wrapper {
    width: 100%;
    max-width: calculate-rem(660);
    margin: 0 auto;
  }

  &__title {
    color: $wa-white;
    padding-bottom: $wa-spacing-07;
  }

  &__content {
    position: relative;
    background-color: $wa-blue;
    max-width: calculate-rem(660);
    padding: $wa-spacing-06 $wa-spacing-05;
    @include desktop {
      position: absolute;
      top: $wa-spacing-09;
      left: $wa-spacing-09;
      padding: $wa-spacing-09;
    }

    [data-component-id="wateraid:rich_text"] {
      color: $wa-white;
      margin-top: 0;

      h1, h2, h3, ul li::marker {
        color: $wa-white;
      }

      blockquote:before {
        background-image: url("/themes/custom/wateraid/images/icons/wa-icon-quote-mark-white.svg");
      }
    }
  }

  .image {
    @include desktop {
      margin-top: 0;
    }
  }

  .image__button {
    bottom: $wa-spacing-04;
    @include desktop {
      position: sticky;
      top: calc(100vh - 60px);
      left: unset;
      width: 100%;
      padding-right: $wa-spacing-03;
      padding-bottom: $wa-spacing-03;
      justify-items: flex-end;
      margin-top: -36px;
    }
  }

  .image__content {
    @include desktop {
      position: relative;
      width: 100%;
    }
  }

  .image__caption {
    @include desktop {
      position: sticky;
      top: calc(100vh - 108px);
      width: 100%;
      margin-right: 1.25rem;
      margin-bottom: 1.25rem;
      justify-self: flex-end;
    }
  }

  .video {
    width: 100%;
    position: relative;
    margin-top: 0;
    @include desktop {
      margin-top: 0;
    }
  }

  &__video {
    position: relative;
    @include desktop {
      position: sticky;
      height: 720px;
      top: 0;
      padding-bottom: $wa-spacing-09;
    }

    &--play,
    &--pause {
      right: $wa-spacing-03;
      bottom: $wa-spacing-04;
      padding: 0;
      position: absolute;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1;
      @include desktop {
        position: sticky;
        top: calc(100vh - 60px);
        margin: $wa-spacing-04 $wa-spacing-06;
        justify-items: flex-end;
      }
    }
  }

  &--right {
    @include desktop {
      .text-over-media__content {
        right: $wa-spacing-09;
        left: unset;
      }

      .text-over-media__video--play,
      .text-over-media__video--pause {
        justify-items: flex-start;
      }

      .image__button {
        padding-left: $wa-spacing-03;
        padding-bottom: $wa-spacing-03;
        justify-items: flex-start;
      }

      .image__caption {
        margin-left: $wa-spacing-05;
        margin-bottom: $wa-spacing-05;
        justify-self: flex-start;
      }
    }
  }
}

