@import "../../sass/base";

.text-over-media {
  position: relative;
  margin-top: $wa-spacing-07;
  @include desktop {
    margin-top: $wa-spacing-09;
  }

  &__wrapper {
    @include desktop {
      min-height: 720px;
      backface-visibility: hidden;
      clip-path: inset(0 0 0 0);
      position: relative;
      display: flex;
    }
  }

  &__background {
    @include desktop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      display: block;
      @include desktop {
        position: fixed;
        top: 0;
        right: 0;
        -o-object-position: center;
        object-position: center;
        object-fit: cover;
        z-index: 0;
      }
    }
  }

  &__content-wrapper {
    width: 100%;
    max-width: calculate-rem(660);
    margin: 0 auto;
  }

  &__content {
    position: relative;
    background-color: $wa-blue;
    max-width: calculate-rem(660);
    padding: 48px;
    @include desktop {
      position: absolute;
      top: $wa-spacing-09;
      left: $wa-spacing-09;
    }

    [data-component-id="wateraid:rich_text"] {
      color: $wa-white;
      margin-top: 0;
    }
  }

  .image__button,
  .image__caption {
    bottom: 16px;
    @include desktop {
      bottom: -660px;
    }
  }

  .video {
    width: 100%;
    position: relative;
    margin-top: 0;
    @include desktop {
      margin-top: 0;
    }
  }

  &__video {
    position: relative;
    @include desktop {
      position: sticky;
      height: 720px;
      top: 0;
      padding-bottom: $wa-spacing-09;
    }

    &--play,
    &--pause {
      right: $wa-spacing-03;
      bottom: $wa-spacing-04;
      padding: 0;
      position: absolute;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1;
    }
  }
}
