@import "../../sass/base";

.text-media {
  position: relative;
  margin-top: $wa-spacing-07;
  @include desktop {
    margin-top: $wa-spacing-09;
    height: 720px;
    width: 100%;
    overflow: scroll;
  }

  .video {
    width: 100%;
    position: relative;
    margin-top: 0;
    @include desktop {
      margin-top: 0;
    }
  }

  &__video {
    @include desktop {
      position: sticky;
      height: 720px;
      top: 0;
      padding-bottom: $wa-spacing-09;
    }

    video {
      display: block;
      height: 100%;
      width: 100%;
    }

    &--play,
    &--pause {
      right: $wa-spacing-03;
      bottom: $wa-spacing-04;
      padding: 0;
      position: absolute;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1;
    }
  }

  &__image {
    width: 100%;
    @include desktop {
      position: sticky;
      height: 720px;
      top: 0;
      padding-bottom: $wa-spacing-09;
      margin-top: -$wa-spacing-09;
    }

    .image__button {
      @include desktop {
        top: 688px;
      }
    }

    .image--expandable .image__caption {
      @include desktop {
        top: 638px;
        right: 20px;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    background-color: $wa-blue;
    max-width: calculate-rem(660);
    padding: 48px;
    @include desktop {
      position: absolute;
      top: $wa-spacing-09;
      left: $wa-spacing-09;
    }

    [data-component-id="wateraid:rich_text"] {
      color: $wa-white;
      margin-top: 0;
    }
  }
}
