{% block content %}
  {% if type == 'image_left_above' %}
    <div class="image">
      {{ image }}
    </div>
  {% endif %}
<div class="content">
  <img class="quote-mark" src="/themes/custom/wateraid/images/icons/wa-icon-quote-mark.svg" alt="Image of a quotation mark" />
  {{ quote }}
  {% if citation %}
    {{ citation }}
  {% endif %}
</div>
  {% if type == 'image_right_below' %}
    <div class="image">
      {{ image }}
    </div>
  {% endif %}
{% endblock %}
