@import "./sass/1-base/_colors";
@import "./sass/1-base/_typography";
@import "./sass/1-base/_spacing";

.paragraph--type--quote {
  padding-top: $wa-spacing-09;

  &.quote-type--text-only {
    .content {
      max-width: 1344px;

      .wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 888px;
      }
    }
  }

  &.quote-type--image-left-above,
  &.quote-type--image-right-below {
    display: flex;
    align-items: stretch;

    .content,
    .image {
      flex: 0 1 50%;
    }
  }

  .content {
    display: flex;
    align-items: center;
    padding: 0 0 $wa-spacing-03 $wa-spacing-09;
    background: $wa-blue;
    color: $wa-white;

    .field--name-field-citation {
      color: $wa-white;
    }

    .field--name-field-quote {
      @extend .pseudo-h4;
      color: $wa-white;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: $wa-spacing-09 0;

      svg {
        padding: 0 0 $wa-spacing-01;
        width: 30px;
        display: block;
        height: 30px;
        flex: 0 0 30px;
      }

      .field--name-field-quote {
        flex: 0 0 calc(100% - (30px + $wa-spacing-03));
      }

      .field--name-field-citation {
        flex: 1 0 calc (100% - $wa-spacing-03);
        padding-left: 30px;
        margin-top: 8px;
      }
    }
  }
}
