{% set gallery_classes = [
  'image-gallery',
  'image-gallery--' ~ theme,
] %}


<div {{ attributes.addClass(gallery_classes) }}>
  <div class="image-gallery--sliders">
      {% for image_item in image_items %}
        <div class="image-gallery--slider">
          {{ image_item }}
        </div>
      {% endfor %}
  </div>
</div>
