@import "../../sass/base";

.image-gallery {
  &[data-component-id="wateraid:image_gallery"] {
    @include page-container;

    margin-top: $wa-spacing-07;
    margin-left: calc(-1 * $container-padding-mobile);
    margin-right: calc(-1 * $container-padding-mobile);
    padding: $wa-spacing-06 $container-padding-mobile;

    @include desktop() {
      margin-top: $wa-spacing-09;
      margin-left: 0;
      margin-right: 0;
      padding: $wa-spacing-09 0;
    }
  }

  &__wrapper {
    @include grid();
    overflow: hidden;
  }

  &__content {
    @include grid-item-span(4, 6, 4);
    display: flex;
    flex-direction: column;
    gap: $wa-spacing-06;

    h2.image-gallery__content--title {
      margin: 0;
      padding: 0;
    }

    &--description p:first-of-type {
      margin-top: 0;
    }

    &--description p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__controls {
    gap: $wa-spacing-02;

    &.mobile {
      @include grid-item-span(4, 6, 8);
      display: flex;
      justify-content: flex-end;

      @include desktop() {
        display: none;
      }
    }

    &.desktop {
      display: none;
      margin-top: $wa-spacing-06;
      @include desktop() {
        display: flex;
        width: fit-content;
      }
    }
  }

  &__items {
    @include grid-item-span(4, 6, 8);
  }

  .image {
    margin-top: 0;
    @include desktop {
      margin-top: 0;
    }
  }

  &--light {
    padding: 0;
    cite {
      color: $wa-navy-80;
    }
    blockquote::before {
      background-image: url("/themes/custom/wateraid/images/icons/wa-icon-quote-mark.svg");
    }
  }

  &--dark {
    &[data-component-id="wateraid:image_gallery"] {
      background-color: $wa-blue;
      background-size: 100% 100%;
      padding: $wa-spacing-09;

      @include desktop {
        background-color: transparent;
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-lg-wide.svg");
      }
    }

    .button--icon {
      color: $wa-blue;

      &::after {
        background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-circle-white.svg");
      }
    }

    blockquote::before {
      background-image: url("/themes/custom/wateraid/images/icons/wa-icon-quote-mark-white.svg");
    }

    h2,
    h3,
    cite,
    .image-gallery__content--title,
    .image-gallery__content--description,
    .image__credit,
    .link--text {
      color: $wa-white;
    }

    .image__caption {
      background-color: $wa-navy;
      color: $wa-white;
    }
  }

  blockquote {
    @include h5();

    position: relative;
    margin: $wa-spacing-04 0;
    padding-left: $wa-spacing-07;
    padding-top: calculate-rem(6);

    &::before {
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      height: calculate-rem(28);
      width: calculate-rem(28);
      position: absolute;
      left: 0;
      top: 0;
    }

    p {
      @include h5();

      margin-top: 0;
    }
  }

  cite {
    @include paragraph-sm();
    font-style: normal;
  }

  blockquote + p > cite {
    display: block;
    padding-left: $wa-spacing-07;
    margin-top: -$wa-spacing-09;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    padding-bottom: $wa-spacing-07;
  }

  p,
  ul,
  ol {
    padding-bottom: $wa-spacing-06;
  }
}

.paragraph--type--image-gallery {
  overflow: hidden;
}
