// Utility functions and mixins.
@use "functions";
@use "../0-settings/colors";
@use "../0-settings/spacing";
@use "breakpoints";
@use "typography";

@mixin font-size($size, $height: $size) {
  font-size: functions.calculate-rem($size);
  line-height: functions.calculate-rem($height);
}

@mixin sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// Reset an input type button/submit, or a button element.
@mixin reset-button {
  padding: 0;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

@mixin container-md {
  width: 100%;
  @include breakpoints.desktop() {
    max-width: functions.calculate-rem(1116);
    margin-left: functions.calculate-rem(114);
  }
}

@mixin container-sm {
  width: 100%;
  max-width: functions.calculate-rem(660);
  @include breakpoints.desktop() {
    margin-left: functions.calculate-rem(114);
  }
}

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

@mixin button {
  position: relative;
  border: none;
  background: none;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &:focus-visible {
    outline: colors.$wa-pink spacing.$wa-spacing-01 solid;
    border: none;
    background: none;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin button-primary {
  @include button();
  font-size: functions.calculate-rem(24);
  font-family: "Noto Sans Bold";
  padding: spacing.$wa-spacing-03 spacing.$wa-spacing-04;
  display: flex;
  gap: spacing.$wa-spacing-02;
  align-items: center;
  max-width: fit-content;
  text-decoration: none;
  color: colors.$wa-white;


  &::before {
    transition: transform 200ms;
    will-change: transform;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &:hover::before {
    transform: translateX(-(spacing.$wa-spacing-02)) translateY(spacing.$wa-spacing-02);
    left: 0;
    height: 100%;
    width: 100%;
  }
  &::after {
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide.svg");
  }
}

@mixin button-secondary {
  @include button();
  font-size: functions.calculate-rem(24);
  font-family: "Noto Sans Bold";
  padding: spacing.$wa-spacing-03 spacing.$wa-spacing-04;
  display: flex;
  gap: spacing.$wa-spacing-02;
  align-items: center;
  max-width: fit-content;
  color: colors.$wa-white;
  text-decoration: none;

  &::before {
    transition: transform 200ms;
    will-change: transform;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &:hover::before {
    transform: translateX(spacing.$wa-spacing-02) translateY(spacing.$wa-spacing-02);
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::after {
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-light.svg");
  }
}

@mixin button-donate {
  @include button();
  font-size: functions.calculate-rem(24);
  font-family: "Noto Sans Bold";
  padding: spacing.$wa-spacing-03 spacing.$wa-spacing-04;
  display: flex;
  gap: spacing.$wa-spacing-02;
  align-items: center;
  max-width: fit-content;
  color: $wa-lime;
  text-decoration: none;

  &::before {
    transition: transform 200ms;
    will-change: transform;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &:hover::before {
    transform: translateX(-spacing.$wa-spacing-02) translateY(spacing.$wa-spacing-02);
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::after {
    background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-navy.svg");
  }

  &:hover {
    color: $wa-navy;

    &::after {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-donate.svg");
    }
  }
}
