@import "./../../../sass/base";
@import "./../../site_header/site_header";

// Some styling for both mega and mobile navs.
.primary-navigation {
  align-self: flex-end;

  ul {
    list-style: none;
  }

  &__level-1-link,
  &__level-2-link,
  &__level-3-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;

    .icon-chevron-right {
      @include wa-transition-motion-flow(transform, 200ms);
      transform: rotate(90deg);
    }
  }
  &__level-1-link {
    @include nav-level-1-link;
    padding: $wa-spacing-03 $wa-spacing-04;
  }
  &__level-2-link {
    @include nav-level-2-link;
    padding: $wa-spacing-02 $wa-spacing-03;
  }
  &__level-3-link {
    @include nav-level-3-link;
    padding: $wa-spacing-02 $wa-spacing-03;
  }

  &__link-with-icon {
    .icon {
      @include wa-transition-motion-flow(transform, 200ms);
      display: block;
      fill: currentColor;
      width: $wa-spacing-04;
      pointer-events: none;
    }

    svg {
      max-width: 100%;
      aspect-ratio: 1;
    }
  }
}

//Meganav styles.
.meganav {

  // Declare this in ms only - this is picked up by our JS behaviour too.
  --meganav-transition-time: 800ms;

  display: none;

  @include tablet {
    display: block;
  }

  ul {
    list-style: none;
  }

  &__level-1 {
    display: flex;
    flex-direction: column;
    background: $white;

    @include tablet {
      flex-direction: row;
      gap: $wa-spacing-04;
      padding-bottom: $header-padding-bottom;
    }
    @include desktop {
      gap: $wa-spacing-05;
    }
  }

  &__level-1-link {
    border-bottom: 3px transparent solid;
    display: flex;
    gap: $wa-spacing-01;

    .icon-chevron-down {
      @include wa-transition-motion-flow(transform, 200ms);
      transform: rotate(180deg);
    }

    &:focus-visible {
      border-bottom: 3px inset $wa-navy;
      outline: none;
    }
    &.active {
      color: $wa-navy;
      border-bottom: 3px inset $wa-navy;

      .icon-chevron {
        transform: rotate(360deg);
      }
    }

  }

  &__level-1-panel-title-link {
    @include nav-level-2-link;
    display: inline-block;
    margin-bottom: $wa-spacing-04;
  }

  &__level-2-item {
    border-top: 1px solid white;

    &:first-child {
      border-top-color: transparent;
    }

    &:last-child {
      border-bottom: 1px solid white;
    }

    &:hover,
    &.active {
      border-top-color: transparent;
      border-bottom-color: transparent;

      + .meganav__level-2-item {
        border-top-color: transparent;
      }
    }
  }

  &__level-2-link {
    text-align: left;
  }

  &__level-3-link {
    padding: $wa-spacing-02 $wa-spacing-03;
    border-bottom: 1px solid $wa-blue;

    &:focus-visible {
      border-color: $wa-navy;
    }

    &.meganav__level-3-heading-link {
      font-family: $bold-font;
      border-bottom: 2px solid $wa-white;

      &:focus-visible {
        border-color: $wa-navy;
      }
    }
  }

  &__panel {
    overflow: hidden;
    color: white;
    min-height: 400px;
    transform: translate(0, -100%);
    z-index: -2;
    position: absolute;
    width: 100%;
    left: 0;
    background: $wa-blue;
    backface-visibility: hidden;
    visibility: hidden;
    padding: $wa-spacing-07 0;
    @include wa-transition-motion-flow(transform, var(--meganav-transition-time));

    &.panel-animating-in {
      z-index: -1;
    }

    .meganav-animating & {
      visibility: visible;
    }

    &.active {
      transform: translate(0, $header-padding-bottom);
      visibility: visible;
    }
  }

  &__panel-inner {
    @include page-container;
    @include grid;
  }

  &__col {
    @include grid-item-span(4, 2, 3);

    &--first {
      @include grid-item-span(4, 2, 5);
      padding-top: $wa-spacing-06;
    }
  }

  &__level-2 {
    position: relative;
    padding: $wa-spacing-04 0;
  }
  &__level-3 {
    position: absolute;
    left: calc(100% + $grid-gap-tablet);
    top: 0;
    width: 100%;
    visibility: hidden;
    background: $wa-navy;
    padding: $wa-spacing-04;
    opacity: 0;
    @include link-transition;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

.mobile-nav {
  // Declare this in ms only - this is picked up by our JS behaviour too.
  --mobile-nav-transition-time: 400ms;

  position: fixed;
  left: 0;
  width: 100%;
  height: 0;
  background: $wa-white;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  @include wa-transition-motion-flow(height, var(--mobile-nav-transition-time));

  body.primary-menu-open & {
    visibility: visible;
    opacity: 1;
    height: 100vh;

    @include tablet {
      display: none;
    }
  }

  &__slider {
    height: 100%;
    transform: translateX(0);

    &:not(.mobile-nav-static &) {
      @include wa-transition-motion-flow(transform, var(--mobile-nav-transition-time));
    }

    [data-mobile-menu-level-active='2'] & {
      transform: translateX(-100%);
    }
    [data-mobile-menu-level-active='3'] & {
      transform: translateX(-200%);
    }
  }

  &__container {
    @include page-container;
    height: 100%;
    width: 100%;
    padding-top: $wa-spacing-05;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__level-1 {
    position: relative;

    .mobile-nav__container > li {
      border-bottom: 2px solid $wa-blue;
    }
  }

  &__level-2,
  &__level-3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    // @todo Should probably make the height dynamic.
    height: 90vh;

    &.active {
      display: block;
    }
  }

  &__level-2 {
    transform: translateX(100%);
    background-color: $wa-blue;

    .mobile-nav__container > li {
      border-bottom: 1px solid $wa-white;
    }
  }
  &__level-3 {
    // Level 3 is nested under level 2, so just 100vw nudge again.
    transform: translateX(100%);
    background-color: $wa-navy;

    .mobile-nav__container > li {
      border-bottom-color: $wa-blue
    }
    .mobile-nav__level-submenu-heading-link {
      font-family: $bold-font;
      margin-bottom: 0;
    }
  }

  &__back-btn {
    display: flex;
    color: $wa-white;
    gap: $wa-spacing-02;
    text-decoration: underline;

    .icon-arrow-left {
      @include wa-transition-motion-flow(transform, 200ms);
      transform: rotate(180deg);
    }
  }

  &__level-submenu-heading-link {
    display: inline-flex;
    justify-content: unset;
    gap: $wa-spacing-02;
    margin-top: $wa-spacing-05;
    padding-left: 0;
    padding-right: 0;

    &.mobile-nav__level-2-submenu-heading-link {
      margin-bottom: $wa-spacing-04;
    }
    &.mobile-nav__level-3-submenu-heading-link {
      border-bottom: 2px solid $wa-white;
    }
  }
  &__level-submenu-heading-description {


    margin-bottom: $wa-spacing-04;
    color: $wa-white
  }
}

body.primary-menu-open {
  overflow: hidden;
  position: fixed;

  @include tablet {
    position: unset;
  }
}





