@import "./../../../sass/base";
@import "./../../site_header/site_header";

//Meganav styles.
.meganav {
  // Declare this in ms only - this is picked up by our JS behaviour too.
  --meganav-transition-time: 800ms;

  display: none;

  @include tablet {
    display: block;
  }

  ul {
    list-style: none;
  }

  &__level-1 {
    display: flex;
    flex-direction: column;
    background: $white;

    @include tablet {
      flex-direction: row;
      gap: $wa-spacing-04;
      padding-bottom: $header-padding-bottom;
    }
    @include desktop {
      gap: $wa-spacing-05;
    }
  }

  &__level-1-item {
    &--donate {
      margin-right: calculate-rem(-10);
    }
  }

  &__level-1-link {
    border-bottom: 3px transparent solid;
    display: flex;
    gap: $wa-spacing-01;

    .icon-chevron-down {
      @include wa-transition-motion-flow(transform, 200ms);
      transform: rotate(180deg);
    }

    &:focus-visible {
      border-bottom: 3px inset $wa-navy;
      outline: none;
    }
    &[aria-expanded="true"] {
      color: $wa-navy;
      border-bottom: 3px inset $wa-navy;

      .icon-chevron-down {
        transform: rotate(360deg);
      }
    }

  }

  &__level-1-panel-title-link {
    @include nav-level-2-link;
    display: inline-block;
    margin-bottom: $wa-spacing-04;
  }

  &__level-2-item {
    border-top: 1px solid white;

    &:first-child {
      border-top-color: transparent;
    }

    &:last-child {
      border-bottom: 1px solid white;
    }

    &:hover,
    &.active {
      border-top-color: transparent;
      border-bottom-color: transparent;

      + .meganav__level-2-item {
        border-top-color: transparent;
      }
    }
  }

  &__level-2-link {
    text-align: left;
  }

  &__level-3-link {
    padding: $wa-spacing-02 $wa-spacing-03;
    border-bottom: 1px solid $wa-blue;

    &:focus-visible {
      border-color: $wa-navy;
    }

    &.meganav__level-3-heading-link {
      font-family: $bold-font;
      border-bottom: 2px solid $wa-white;

      &:focus-visible {
        border-color: $wa-navy;
      }
    }
  }

  &__donate-link {
    .button__svg {
      display: none;
    }
  }

  &__panel {
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    z-index: -2;
    position: absolute;
    width: 100%;
    left: 0;
    background: $wa-blue;
    backface-visibility: hidden;
    visibility: hidden;
    padding: $wa-spacing-07 0;
    min-height: calculate-rem(300);
    @include wa-transition-motion-flow(transform, var(--meganav-transition-time));

    &.panel-animating-in {
      z-index: -1;
    }

    .meganav-animating & {
      visibility: visible;
    }

    &.active {
      transform: translate(0, $header-padding-bottom);
      visibility: visible;
    }
  }

  &__panel-inner {
    @include page-container;
    @include grid;
  }

  &__col {
    @include grid-item-span(4, 2, 3);

    &--first {
      @include grid-item(4, 2, 4, 1, 1, 2);
      padding-top: $wa-spacing-06;
    }
    &:nth-child(2) {
      @include desktop {
        grid-column: 6/span 3;
      }
    }
    &:nth-child(3) {
      @include desktop {
        grid-column: 8/span 3;
      }
    }
  }

  &__level-2 {
    position: relative;
    padding: $wa-spacing-04 0;
  }
  &__level-3 {
    position: absolute;
    left: calc(100% + $grid-gap-tablet);
    top: 0;
    width: 100%;
    visibility: hidden;
    background: $wa-navy;
    padding: $wa-spacing-04;
    opacity: 0;
    @include link-transition;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}
