@import "./../../../sass/base";

body.primary-menu-open {
  overflow: hidden;
  position: fixed;

  @include tablet {
    position: unset;
  }

  .site-header__primary-navigation {
    position: absolute;
    display: block;
    @include tablet {
      position: unset;
      display: flex;
    }
  }

  .site-header--minimal {
    .primary-navigation {
      display: block;
    }
  }
}

.site-header--minimal {
  .site-header__primary-navigation,
  .site-header__toggle-desktop-menu-btn {
    display: none;
    @include tablet {
      display: flex;
      z-index: 1;
    }
  }

  .primary-navigation,
  .meganav__level-1-item--donate,
  .button__wrapper--donate {
    display: none;
  }
}

// Some styling for both mega and mobile navs.
.primary-navigation {
  align-self: flex-end;

  ul {
    list-style: none;
  }

  &__level-1-link,
  &__level-2-link,
  &__level-3-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;

    .icon-chevron-right {
      @include wa-transition-motion-flow(transform, 200ms);
      transform: rotate(90deg);
    }
  }

  &__level-1-link {
    @include nav-level-1-link;
    padding: $wa-spacing-03 $wa-spacing-04;
  }

  &__level-2-link {
    @include nav-level-2-link;
    padding: $wa-spacing-02 $wa-spacing-03;
  }

  &__level-3-link {
    @include nav-level-3-link;
    padding: $wa-spacing-02 $wa-spacing-03;
  }

  &__link-with-icon {
    .icon {
      @include wa-transition-motion-flow(transform, 200ms);
      display: block;
      fill: currentColor;
      width: $wa-spacing-04;
      pointer-events: none;
    }

    svg {
      max-width: 100%;
      aspect-ratio: 1;
    }
  }
}

@import 'primary-navigation--desktop';
@import 'primary-navigation--mobile';
