{% set items = items|default(menu['#items']) %}

<div {{ attributes.addClass('primary-navigation').setAttribute('role', 'navigation').setAttribute('aria-label', 'Main navigation') }}>

  {# Meganav navigation. #}
  {% include '@wateraid/components/navigation/primary_navigation/primary_navigation--desktop.twig' with {
    items: items,
  } only %}

  {# Mobile menu navigation.  #}
  {% include '@wateraid/components/navigation/primary_navigation/primary_navigation--mobile.twig' with {
    items: items,
    wash_matters_url: wash_matters_url,
  } only %}

  {# Ensure menu cacheability metadata is preserved. #}
  {{ menu|without(['#items']) }}
</div>
