@import "../../sass/base";

.motion-scrolling {
  min-height: 720px;
  backface-visibility: hidden;
  clip-path: inset(0 0 0 0);
  position: relative;

  .paragraph--type--scroll-section {
    .section__background {
      display: none;
      @include desktop {
        display: block;
      }
    }

    &:first-of-type {
      .section__background {
        opacity: 1;
      }

      .section__image {
        opacity: 1;
      }

      .image__button {
        bottom: $wa-spacing-02;
        @include desktop {
          display: block;
        }
      }

      .section--background .section__copy {
        padding-top: $wa-spacing-06;
        margin-top: -72px;
        @include desktop {
          padding-top: $wa-spacing-09;
          margin-top: 0;
        }
      }

      .section__container {
        display: flex;
        flex-direction: column-reverse;
        @include desktop {
          flex-direction: row;
        }
      }
    }

    &:last-of-type {
      .section__background {
        display: block;
      }

      .section {
        display: flex;
        flex-direction: column-reverse;
        @include desktop {
          display: block;
        }
      }

      .image {
        margin-top: 0;
      }

      .section--background .section__copy {
        padding-bottom: $wa-spacing-06;
        margin-bottom: -$wa-spacing-12;
        @include desktop {
          padding-bottom: $wa-spacing-09;
          margin-bottom: 0;
        }
      }
    }
  }

}
