@import "../../sass/base";

.modal {
  &[data-component-id="wateraid:modal"] {
    display: none;

    &.open {
      display: block;
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(12px);
      z-index: 20;
    }

    .modal__wrapper {
      @include grid();
      column-gap: 0;
      row-gap: 0;
      position: absolute;
      width: 100%;
      max-width: calculate-rem(1113);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem 1.25rem;
    }
  }

  &__image {
    @include grid-item-span(12, 3, 5);
    width: 100%;
    grid-row: 2;
    @include tablet() {
      grid-row: 1;
    }
    @include breakpoint-lg {
      grid-column: 2 / 7;
    }

    .image,
    .image__wrapper,
    .image__content,
    .image__content div {
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include grid-item-span(12, 3, 5);
    position: relative;
    display: flex;
    gap: $wa-spacing-06;
    flex-direction: column;
    background-color: $wa-blue;
    padding: calculate-rem(44) $wa-spacing-06;
    grid-row: 1;
  }

  &__close {
    position: absolute;
    right: $wa-spacing-03;
    top: $wa-spacing-03;
  }

  &__title {
    color: $wa-white;
    margin: 0;
  }

  &__copy {
    color: $wa-white;

    @include paragraph-lg;

    p {
      margin: 0;
    }
  }

  &__cta {
    z-index: 1;
  }

  &-open {
    position: fixed;
    overflow: hidden;
  }

}


