{% set accordion_classes = [
  'accordion-item',
] %}

<div {{ attributes.addClass(accordion_classes) }}>
  <button aria-expanded="false" class="accordion-item__title">
    <span>{{ title }}</span>
    {{ include('@wateraid/images/icons/wa-utility-chevron.svg') }}
  </button>
  <div aria-hidden="true" class="accordion-item__content">
          {{ content }}
  </div>
</div>


