@import "../base";

//  ---- TEMPORARY STYLES  ----- \\
.page-container {
  @include page-container;
}

.container-md {
  @include container-md();
}

.container-sm {
  @include container-sm();
}

.layout {
  &__two-column {
    @include grid();

    &--main {
      @include grid-item-span(4, 6, 8);
      @include desktop() {
        margin-left: calculate-rem(114);
      }
    }

    &--side {
      @include grid-item-span(4, 6, 4);
      @include desktop() {
        margin-left: calculate-rem(90);
      }
    }
  }
}

body {
  font-family: $font-family;
}

//  ---- TEMPORARY STYLES END ----- \\

// Make gin toolbar opaque - hide the slidey meganav panels.
.gin-secondary-toolbar--frontend {
  background: $wa-white;
  opacity: 1;
}

div[data-drupal-messages] {
  @include page-container;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Status messages
.messages__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: $wa-navy;
  width: 100%;

  .messages {
    width: 100%;
    padding: 1rem;
    &--status{
      background-color: $wa-dark-green;
      color: $wa-white;
    }
    &--warning {
      background-color: $wa-yellow;
    }
    &--error {
      background-color: $wa-orange;
      color: $wa-white;
    }
  }
}