@use "../base";

// Webforms
.webform-submission-form {
  @include base.container-sm();
  display: flex;
  flex-direction: column;
  gap: base.$wa-spacing-07;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-07;
  }

  .form-actions {
    margin: base.$wa-spacing-09 0;
    display: flex;
    flex-direction: row;
    gap: base.$wa-spacing-06;

    .form-submit,
    .webform-button--next {
      flex: 1;
      font-family: base.$heading-font;
      font-weight: 700;
      @include base.reset-button();
      font-size: base.calculate-rem(24);
      padding: base.$wa-spacing-03 base.$wa-spacing-04;
      display: flex;
      gap: base.$wa-spacing-02;
      align-items: center;
      color: base.$wa-white;
      text-decoration: none;
      position: relative;
      border: none;
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &:focus-visible {
        outline: base.$wa-pink base.$wa-spacing-01 solid;
        border: 4px solid base.$black;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .webform-button--previous {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-light.svg");
      color: base.$wa-blue;
    }
  }
}

// Checkboxes & Radios
.js-form-type-checkbox,
.js-form-type-radio {
  display: flex;
  align-items: center;
  gap: base.$wa-spacing-03;
  padding: base.$wa-spacing-03;

  &:hover {
    cursor: pointer;
  }
}

.webform-type-checkboxes,
.webform-type-radios {
  legend {
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;

    .optional {
      font-family: base.$font-family;
    }
  }

  .js-webform-checkboxes,
  .js-webform-radios {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-03;
  }

  .js-form-type-checkbox,
  .js-form-type-radio {
    padding: 0;
    padding-left: base.$wa-spacing-03;

    label {
      margin: 0;
    }
  }

  .webform-type-checkbox,
  .webform-type-radio {
    display: flex;
  }
}

.webform-type-checkbox,
.webform-type-radio {
  display: block;

  label.option {
    font-family: base.$font-family;
    font-size: base.calculate-rem(20);
    margin: 0;
  }
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  width: base.$wa-spacing-06;
  height: base.$wa-spacing-06;
  background: base.$wa-white;
  border-radius: base.$radius-xxs;
  border: base.calculate-rem(2) solid base.$wa-navy;
  vertical-align: middle;

  &:checked {
    background-color: base.$wa-navy;
    background-image: url("/themes/custom/wateraid/images/icons/wa-form-check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }
}

input[type='radio'] {
  border-radius: base.$radius-full;

  &:checked {
    background-image: none;
    background-color: base.$wa-navy;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }
}


.form-item {
  label {
    display: inline-block;
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;
  }

  .optional {
    font-size: base.calculate-rem(20);
  }

  .webform-element-description {
    font-size: base.calculate-rem(16);
    color: base.$wa-navy-80;
    margin-bottom: base.$wa-spacing-03;
  }

  // Inputs & textareas
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'] {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(18);
  }

  textarea {
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(20);
  }

  // Select
  select {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    font-size: base.calculate-rem(20);
    padding: base.$wa-spacing-03;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/themes/custom/wateraid/images/icons/select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
  }
}

.webform-progress-tracker {
  .progress-step {
    .progress-marker {
      font-size: base.calculate-rem(22);
      font-family: base.$bold-font;

      &:before {
        background-size: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        top: -10px;
      }
      &:after {
        background-color: base.$wa-cream;
      }
    }
    &:hover {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
        }
      }
    }
  }

  .progress-step {
    .progress-marker {
      color: base.$wa-navy;
      &:before {
        background-color: base.$wa-cream;
        background-image: url("/themes/custom/wateraid/images/icons/next.svg");
        width: 51px;
        height: 48px;
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-cream;
          }
        }
      }
    }


    &.is-complete {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
          background-image: url("/themes/custom/wateraid/images/icons/complete.svg");
        }
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }

    &.is-active {
      .progress-marker {
        color: base.$wa-navy;

        &:before {
          background-color: base.$wa-white;
          background-image: url("/themes/custom/wateraid/images/icons/current.svg");
          background-size: cover;
        }
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }
  }
}
