@use "../base";

// Webforms
.webform-submission-form {
  @include base.container-sm();
  display: flex;
  flex-direction: column;
  gap: base.$wa-spacing-07;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-04;

    legend {
      span {
        display: inline-block;
        font-family: base.$bold-font;
        font-size: base.calculate-rem(20);
        margin-bottom: base.$wa-spacing-02;
      }
    }

    &.wa-element-type-pca-address-php {
      flex-flow: row wrap;

      > label {
        display: inline-block;
        font-family: base.$bold-font;
        font-size: base.calculate-rem(20);
        margin-bottom: base.$wa-spacing-02;
      }

      input[type="submit"] {
        @include text-link();
      }
    }
  }

  .wa-subelement-wrapper-capture-plus {
    flex-flow: row wrap;
    .capture-manual {
      @include text-link();
    }
  }

  .form-actions {
    margin: base.$wa-spacing-09 0;
    display: flex;
    flex-flow: row wrap;
    gap: base.$wa-spacing-06;

    .webform-page-help {
      flex: 1 1 100%;
    }

    .form-submit,
    .webform-button--next {
      flex: 1;
      font-family: base.$heading-font;
      font-weight: 700;
      @include base.reset-button();
      font-size: base.calculate-rem(24);
      padding: base.$wa-spacing-03 base.$wa-spacing-04;
      display: flex;
      gap: base.$wa-spacing-02;
      align-items: center;
      color: base.$wa-white;
      text-decoration: none;
      position: relative;
      border: none;
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      white-space: nowrap;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &:focus-visible {
        outline: base.$wa-pink base.$wa-spacing-01 solid;
        border: 4px solid base.$black;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .webform-button--previous {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-light.svg");
      color: base.$wa-blue;
    }
  }

  &.wa-donation-methods {
    border: none;
  }
}

// Checkboxes & Radios
.js-form-type-checkbox,
.js-form-type-radio {
  display: flex;
  align-items: center;
  gap: base.$wa-spacing-03;
  padding: base.$wa-spacing-03;

  &:hover {
    cursor: pointer;
  }
}

.webform-type-checkboxes,
.webform-type-radios {
  legend {
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;

    .optional {
      font-family: base.$font-family;
    }
  }

  .js-webform-checkboxes,
  .js-webform-radios {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-03;
  }

  .js-form-type-checkbox,
  .js-form-type-radio {
    padding: 0;
    padding-left: base.$wa-spacing-03;

    label {
      margin: 0;
    }
  }

  .webform-type-checkbox,
  .webform-type-radio {
    display: flex;
  }
}

.webform-type-checkbox,
.webform-type-radio {
  display: block;

  label.option {
    font-family: base.$font-family;
    font-size: base.calculate-rem(20);
    margin: 0;
  }
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  width: base.$wa-spacing-06;
  height: base.$wa-spacing-06;
  background: base.$wa-white;
  border-radius: base.$radius-xxs;
  border: base.calculate-rem(2) solid base.$wa-navy;
  vertical-align: middle;

  &:checked {
    background-color: base.$wa-navy;
    background-image: url("/themes/custom/wateraid/images/icons/wa-form-check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }
}

input[type='radio'] {
  border-radius: base.$radius-full;

  &:checked {
    background-image: url("/themes/custom/wateraid/images/icons/wa-radio-checked.svg");
    background-color: base.$wa-navy;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }

  + label.ui-checkboxradio-checked {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
  }
}


.form-item {
  // Hide "Optional" after visually hidden text.
  .visually-hidden + span {
    @include visually-hidden();
  }
  label {
    display: inline-block;
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;
  }

  .optional {
    font-size: base.calculate-rem(20);
  }

  .webform-element-description {
    font-size: base.calculate-rem(16);
    color: base.$wa-navy-80;
    margin-bottom: base.$wa-spacing-03;
  }

  // Inputs & textareas
  .stripe-card-element,
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'] {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(18);
    &.error {
      border-color: base.$wa-orange
    }

    &:active {
      border: 3px solid base.$wa-navy;
    }
    &:focus {
      outline: 3px solid base.$wa-pink;
    }
  }

  .stripe-card-element {
    padding: 1rem;
  }

  textarea {
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(20);
  }

  // Select
  select {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    font-size: base.calculate-rem(20);
    padding: base.$wa-spacing-03;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/themes/custom/wateraid/images/icons/select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
  }
}

.webform-progress-tracker {
  .progress-step {
    .progress-marker {
      font-size: base.calculate-rem(22);
      font-family: base.$bold-font;

      &:before {
        background-size: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        top: -10px;
      }
      &:after {
        background-color: base.$wa-cream;
      }
    }
    &:hover {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
        }
      }
    }
  }

  .progress-step {
    .progress-marker {
      color: base.$wa-navy;
      &:before {
        background-color: base.$wa-cream;
        background-image: url("/themes/custom/wateraid/images/icons/next.svg");
        width: 51px;
        height: 48px;
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-cream;
          }
        }
      }
    }


    &.is-complete {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
          background-image: url("/themes/custom/wateraid/images/icons/complete.svg");
        }
      }
      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }

    &.is-active {
      .progress-marker {
        color: base.$wa-navy;

        &:before {
          background-color: base.$wa-white;
          background-image: url("/themes/custom/wateraid/images/icons/current.svg");
          background-size: cover;
        }
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }
  }
}

.webform-progress-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li.webform-progress-bar__page {
    height: 3rem;
    width: auto;
    background: transparent;

    .webform-progress-bar__page-title {
      background-color: $wa-cream;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      position: relative;
      border: 3px solid $wa-cream;
    }

    &.webform-progress-bar__page--done .webform-progress-bar__page-title {
      background: $wa-navy;
      border: 3px solid $wa-navy;
    }

    &.webform-progress-bar__page--current {
      &::after,
      &::before {
        content: '';
        display: block;
        width: 100vw;
        height: 3px;
        position: absolute;
        z-index: -1;
        top: calc(50% - 1px);
      }

      &::before {
        background: $wa-navy;
        right: 0;
      }

      &::after {
        background: $wa-cream;
        left: 0;
      }

      .webform-progress-bar__page-title {
        background-color: $wa-white;
        border: 3px solid $wa-navy;
      }
    }
  }

  .webform-progress-bar__page-number {
    font-size: base.calculate-rem(20);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
  }
}

.pca .pcaautocomplete,
.pcaautocomplete .pcatext {
    border-color: transparent !important;
}

.webform-buttons-other-input_currency-sign {
  font-size: base.calculate-rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  left: .5rem;
  top: 0.75rem;
  + input[type=number] {
    padding-left: 1.5rem;
  }
}

fieldset.next-form-step,
fieldset.prev-form-step {
  border: 0;
  padding: 7rem 0 2rem;
  position: relative;
  margin-bottom: 2rem;
  &:not(:last-of-type) {
    border-bottom: 2px solid $wa-cream;
  }
  legend {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    .fieldset-legend,
    .step-title__text {
      font-size: 2rem;
    }
  }

  button,
  input[value="Edit"] {
    @include link();
  }
}
fieldset.prev-form-step {
  background: url('/themes/custom/wateraid/images/icons/complete.svg') no-repeat;
  background-position: top left;
  order: -1;
}
fieldset.next-form-step {
  .step-title {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
  }
  .fa-stack-1x {
    font-size: base.calculate-rem(22);
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: url('/themes/custom/wateraid/images/icons/next.svg') no-repeat;
  }
  .step-title__text {
    position: absolute;
    top: 4rem;
    width: 100%;
  }
}

.step-header {
  position: relative;
  color: $wa-navy;
  font-size: 2rem;
  .step-title__icon {
    display: block;
    font-size: base.calculate-rem(22);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: url('/themes/custom/wateraid/images/icons/current.svg') no-repeat;
    margin-bottom: 1rem;
  }
}

// One off and monthly donation form styles
.webform-donation-widget-wrapper + .field--name-webform form {
  [data-drupal-selector="edit-step-title"],
  [data-drupal-selector="edit-step-1"],
  [data-drupal-selector="edit-actions"] {
    display: none!important;
  }
}
.node--type-webform {
  .single-option,
  .single-frequency-label,
  .single-amount-label .js-form-type-radio {
    display: none!important;
  }
  [data-donations-method="stripe"] .payment-button {
    @include base.button-primary();
  }
  div[data-once="webform-buttons"],
  .wa-element-wrapper-webform-buttons.webform-options-display-side-by-side {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    @include breakpoint-md {
      flex-wrap: nowrap;
    }
    label {
      @include base.button-primary();
      max-width: 100%;
      width: 100%;
      text-align: center;
      flex: 1 1 100%;
      justify-content: center;
      &:hover {
        background-color: base.$wa-blue;
        border-color: base.$wa-blue;
        border-radius: 0;
      }
      @include breakpoint-md {
        width: auto;
        max-width: 25%;
      }
    }
  }

  .ajax-progress {
    position: absolute;
  }
}

fieldset.wa-donation-methods {
  border: none;
  .fieldset-legend {
    @include visually-hidden();
  }

  [data-donations-method="stripe"]::before {
    display: inline-block;
    font-family: base.$bold-font;
    font-size: 1.25rem;
    margin: 0;
  }
}

.webform-confirmation {
  @include page-container;
  margin-bottom: 6rem;
}
