@use "../base";

// Webforms
.webform-submission-form {
  @include base.container-sm();
  display: flex;
  flex-direction: column;
  gap: base.$wa-spacing-04;

  .ssl-logo svg {
    max-width: 88px;
    height: 35px;
    margin: 0 auto;
    display: block;
  }

  h2:not(.step-header),
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: $wa-spacing-07;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-04;

    legend {
      span {
        display: inline-block;
        font-family: base.$bold-font;
        font-size: base.calculate-rem(20);
        margin-bottom: base.$wa-spacing-04;
      }
    }

    &.wa-element-type-pca-address-php {
      flex-flow: row wrap;

      > label {
        display: inline-block;
        font-family: base.$bold-font;
        font-size: base.calculate-rem(20);
        margin-bottom: base.$wa-spacing-02;
      }

      input[type="submit"] {
        @include text-link();
      }
    }
  }

  div[data-drupal-messages] {
    padding: 0;
    margin: 0;
  }

  .wa-subelement-wrapper-capture-plus {
    flex-flow: row wrap;

    .capture-manual {
      @include text-link();
    }
  }

  .form-actions {
    margin: base.$wa-spacing-09 0;
    display: flex;
    flex-flow: column;
    gap: base.$wa-spacing-06;

    .webform-page-help {
      flex: 1 1 100%;
    }

    .form-submit:not(.button--input-wrapped),
    .webform-button--next:not(.button--input-wrapped) {
      flex: 1;
      font-family: base.$heading-font;
      font-weight: 700;
      @include base.reset-button();
      font-size: base.calculate-rem(24);
      padding: base.$wa-spacing-03 base.$wa-spacing-04;
      display: flex;
      gap: base.$wa-spacing-02;
      align-items: center;
      color: base.$wa-white;
      text-decoration: none;
      position: relative;
      border: none;
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      white-space: nowrap;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &:focus-visible {
        outline: base.$wa-pink base.$wa-spacing-01 solid;
        border: 4px solid base.$black;
      }

      &:hover {
        cursor: pointer;
      }
    }


    .button--input-wrapped + .ajax-progress {
      position: absolute;
      top: 4rem;
    }

    .webform-button--previous {
      background-image: url("/themes/custom/wateraid/images/icons/wa-container-sm-wide-border-light.svg");
      color: base.$wa-blue;
    }
  }

  &.wa-donation-methods {
    border: none;
  }

  // Show/hide Loqate manual capture fields
  &.webform-category-donation fieldset.wa-subelement-wrapper-capture-plus {
    display: none;
    &[data-pcamanual="pcamanual"] {
      display: block;

      .capture-manual {
        display: none;
      }
    }
  }
  &:not(.webform-category-donation) {
    div.wa-subelement-wrapper-capture-plus {
      *:not(.capture-manual) {
        display: none;
      }

      &[data-pcamanual="pcamanual"] {
        *:not(.capture-manual) {
          display: block;
        }

        .capture-manual {
          display: none;
        }
      }
    }
  }
}

// Checkboxes & Radios
.js-form-type-checkbox,
.js-form-type-radio {
  display: flex;
  align-items: center;
  gap: base.$wa-spacing-03;
  padding: base.$wa-spacing-03;

  &:hover {
    cursor: pointer;
  }
}

.webform-type-checkboxes,
.webform-type-radios {
  legend {
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;

    .optional {
      font-family: base.$font-family;
    }
  }

  .js-webform-checkboxes,
  .js-webform-radios {
    display: flex;
    flex-direction: column;
    gap: base.$wa-spacing-03;
  }

  .js-form-type-checkbox,
  .js-form-type-radio {
    padding: 0;
    padding-left: base.$wa-spacing-03;

    label {
      margin: 0;
    }
  }

  .webform-type-checkbox,
  .webform-type-radio {
    display: flex;
    flex-flow: row wrap;
    + label.error {
        width: 100%;
        flex: 1 1 100%;
        order: -1;
    }
  }
}

.webform-type-checkbox,
.webform-type-radio {
  display: block;

  label.option {
    font-family: base.$font-family;
    font-size: base.calculate-rem(20);
    margin: 0;
    width: fit-content;
    flex: 1 1 auto;
  }
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  width: base.$wa-spacing-06;
  height: base.$wa-spacing-06;
  background: base.$wa-white;
  border-radius: base.$radius-xxs;
  border: base.calculate-rem(2) solid base.$wa-navy;
  vertical-align: middle;

  &:checked {
    background-color: base.$wa-navy;
    background-image: url("/themes/custom/wateraid/images/icons/wa-form-check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }
}

input[type='radio'] {
  border-radius: base.$radius-full;

  &:checked {
    background-image: url("/themes/custom/wateraid/images/icons/wa-radio-checked.svg");
    background-color: base.$wa-navy;
  }

  &:focus-visible {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
    box-shadow: 0 0 0 base.calculate-rem(2) base.$wa-navy;
  }

  + label.ui-checkboxradio-checked {
    outline: base.$wa-spacing-01 base.$wa-pink solid;
  }
}


.form-item {
  &[required="required"] span.optional {
      display: none;
  }

  // Hide "Optional" after visually hidden text.
  .visually-hidden + span {
    @include visually-hidden();
  }

  label {
    display: inline-block;
    font-family: base.$bold-font;
    font-size: base.calculate-rem(20);
    margin-bottom: base.$wa-spacing-02;

    &.form-required + span.optional {
      display: none;
    }
  }

  .optional {
    font-size: base.calculate-rem(20);
  }

  .webform-element-description {
    font-size: base.calculate-rem(16);
    color: base.$wa-navy-80;
    margin-bottom: base.$wa-spacing-03;
  }

  // Inputs & textareas
  .stripe-card-element,
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='date'],
  input[type='number'] {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(18);

    &.error {
      border-color: base.$wa-orange
    }

    &:active {
      border: 3px solid base.$wa-navy;
    }

    &:focus {
      outline: 3px solid base.$wa-pink;
    }
  }

  .stripe-card-element {
    padding: 1rem;
  }

  textarea {
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    border: 2px solid base.$wa-navy;
    padding: base.$wa-spacing-03;
    font-size: base.calculate-rem(20);
  }

  // Select
  select {
    width: 100%;
    height: base.calculate-rem(54);
    border-radius: 2px;
    border: 2px solid base.$wa-navy;
    font-size: base.calculate-rem(20);
    padding: base.$wa-spacing-03;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/themes/custom/wateraid/images/icons/select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    &:focus-visible {
      outline: base.$wa-pink base.$wa-spacing-01 solid;
    }

    &.error {
      border-color: base.$wa-orange
    }
  }
}

.webform-progress-tracker {
  .progress-step {
    .progress-marker {
      font-size: base.calculate-rem(22);
      font-family: base.$bold-font;

      &:before {
        background-size: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        top: -10px;
      }

      &:after {
        background-color: base.$wa-cream;
      }
    }

    &:hover {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
        }
      }
    }
  }

  .progress-step {
    .progress-marker {
      color: base.$wa-navy;

      &:before {
        background-color: base.$wa-cream;
        background-image: url("/themes/custom/wateraid/images/icons/next.svg");
        width: 51px;
        height: 48px;
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-cream;
          }
        }
      }
    }


    &.is-complete {
      .progress-marker {
        &:before {
          background-color: base.$wa-cream;
          background-image: url("/themes/custom/wateraid/images/icons/complete.svg");
        }
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }

    &.is-active {
      .progress-marker {
        color: base.$wa-navy;

        &:before {
          background-color: base.$wa-white;
          background-image: url("/themes/custom/wateraid/images/icons/current.svg");
          background-size: cover;
        }
      }

      &:hover {
        .progress-marker {
          &:before {
            background-color: base.$wa-white;
          }
        }
      }
    }
  }
}

.webform-progress-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li.webform-progress-bar__page {
    height: 3rem;
    width: auto;
    background: transparent;

    .webform-progress-bar__page-title {
      background-color: $wa-cream;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      position: relative;
      border: 3px solid $wa-cream;
    }

    &.webform-progress-bar__page--done .webform-progress-bar__page-title {
      background: $wa-navy;
      border: 3px solid $wa-navy;
    }

    &.webform-progress-bar__page--current {
      &::after,
      &::before {
        content: '';
        display: block;
        width: 100vw;
        height: 3px;
        position: absolute;
        z-index: -1;
        top: calc(50% - 1px);
      }

      &::before {
        background: $wa-navy;
        right: 0;
      }

      &::after {
        background: $wa-cream;
        left: 0;
      }

      .webform-progress-bar__page-title {
        background-color: $wa-white;
        border: 3px solid $wa-navy;
      }
    }
  }

  .webform-progress-bar__page-number {
    font-size: base.calculate-rem(20);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
  }
}

.pca .pcaautocomplete,
.pcaautocomplete .pcatext {
  border-color: transparent !important;
}

.webform-buttons-other-input_currency-sign {
  font-size: base.calculate-rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  left: .5rem;
  top: 0.75rem;

  + input[type=number] {
    padding-left: 1.5rem;
  }
}

fieldset.next-form-step,
fieldset.prev-form-step {
  border: 0;
  padding: 10rem 0 2rem;
  position: relative;
  margin-bottom: 2rem;
  @include desktop {
    padding: 3.75rem 0 2rem;
  }

  &:not(:last-of-type) {
    border-bottom: 2px solid base.$wa-cream;
  }

  legend {
    position: absolute;
    top: base.$wa-spacing-09;
    left: 0;
    width: 100%;

    .fieldset-legend,
    .step-title__text {
      font-size: 2rem;
    }
  }

  button {
    left: 4rem;
    position: relative;
    align-self: start;
  }

  button,
  input[value="Edit"] {
    @include link();
  }
}

fieldset.prev-form-step {
  background: url('/themes/custom/wateraid/images/icons/complete.svg') no-repeat;
  background-position: top left;
  order: -1;
}

fieldset.next-form-step {
  .step-title {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
  }

  .fa-stack-1x {
    font-size: base.calculate-rem(22);
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: url('/themes/custom/wateraid/images/icons/next.svg') no-repeat;
  }

  .step-title__text {
    font-family: "RB Nylo Black", sans-serif !important;
    color: base.$wa-navy-80;
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    @include base.desktop {
      top: 0;
      left: 4rem;
    }
  }
}

.step-header {
  position: relative;
  color: $wa-navy;
  font-size: 2rem;

  .step-title__icon {
    display: block;
    font-size: base.calculate-rem(22);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: url('/themes/custom/wateraid/images/icons/current.svg') no-repeat;
  }
}

// One off and monthly donation form styles
.webform-donation-widget-wrapper + .field--name-webform form {
  [data-drupal-selector="edit-step-title"],
  [data-drupal-selector="edit-step-1"],
  [data-drupal-selector="edit-actions"] {
    display: none !important;
  }
}

.node--type-webform {
  .single-option,
  .single-frequency-label,
  .single-amount-label .js-form-type-radio {
    display: none !important;
  }

  div[data-once="webform-buttons"],
  .wa-element-wrapper-webform-buttons.webform-options-display-side-by-side {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    @include breakpoint-md {
      flex-wrap: nowrap;
      padding: base.$wa-spacing-04 base.$wa-spacing-04 base.$wa-spacing-03 base.$wa-spacing-04;
      background-color: base.$wa-cream;
      position: relative;
    }

    label {
      @include base.button-primary();
      max-width: 100%;
      width: 100%;
      max-height: base.$wa-spacing-09;
      text-align: center;
      flex: 1 1 100%;
      justify-content: center;
      z-index: 1;

      &:hover {
        background-color: base.$wa-blue;
        border-color: base.$wa-blue;
        border-radius: 0;
      }

      @include breakpoint-md {
        width: auto;
      }
    }
  }

  .button__wrapper {
    width: 100%;
    .button--secondary {
      max-width: 100%;
      width: 100%;
      display: block;
    }
  }

  .button--primary {
    min-width: 100%;
    justify-content: center;
  }

  .button[value='Edit'] {
    align-self: start;
    @include base.desktop {
      left: 4rem;
    }
  }

  .capture-manual {
    @include base.text-link;
  }

  .pca {
    .pcaautocomplete {
      border: none !important;
      max-width: 100%;
    }
    .pcaitem {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      .pcadescription {
        margin-left: 0;
      }
    }
  }

  .pca-wrapper {
    position: relative;
    .wa-element-wrapper-textfield {
      width: 100%;
    }
    .ajax-progress.ajax-progress-throbber {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .gift-aid-logo {
    margin-top: -2rem;
    @include base.desktop {
      margin-left: 2rem;
    }
  }

  .js-form-type-checkbox {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: self-start;
    margin-top: 1rem;
    gap: 0;

    label {
      margin-left: 1rem;
    }
  }

  fieldset.prev-form-step legend {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    font-family: "RB Nylo Black", sans-serif !important;
    @include base.desktop {
      top: 0;
      left: 4rem;
    }
  }

  .description a {
    @include base.link;
  }

  .fieldset-wrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .ajax-progress {
    position: absolute;
  }

  .step-title {
    @include base.desktop {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

fieldset.wa-donation-methods {
  border: none;

  .fieldset-legend {
    @include visually-hidden();
  }

  [data-donations-method="stripe"]::before {
    display: inline-block;
    font-family: base.$bold-font;
    font-size: 1.25rem;
    margin: 0;
  }
}

.webform-confirmation {
  @include page-container;
  margin-bottom: 6rem;
}

input[type=checkbox] + label {
  width: calc(100% - 2.5rem);
}

label.button__input-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0;

  span.icon {
    order: -1;
  }
  &.focus {
    outline: base.$wa-pink base.$wa-spacing-01 solid;
    border: none;
    background: none;
    input {
      outline: none;
    }
  }
  input:only-child {
    width: calc(100% + 1.5rem);
    margin: -0.75rem -1rem;
    padding: 0.75rem 1rem;
    height: calc(100% + 2rem);
  }
}
