@import "../1-base/grid";
@import "../1-base/typography";

//  ---- TEMPORARY STYLES  ----- \\
header {
  padding: 24px 0;
  border-bottom: $black solid 1px;

  & > div {
    @include page-container;
    margin-left: 0;
  }

  img {
    display: block;
    width: 200px;
  }
}

.page-container {
  @include page-container;
}

.container {
  @include container-sm();
}

body {
  font-family: $font-family;
}

footer {
  background-color: $brand-teal;
}

//  ---- TEMPORARY STYLES END ----- \\
